@charset "UTF-8";
@-webkit-keyframes spin {
 0% {
-webkit-transform:rotateZ(0);
-ms-transform:rotateZ(0);
-moz-transform:rotateZ(0);
-o-transform:rotateZ(0);
transform:rotateZ(0)
}
100% {
-webkit-transform:rotateZ(360deg);
-ms-transform:rotateZ(360deg);
-moz-transform:rotateZ(360deg);
-o-transform:rotateZ(360deg);
transform:rotateZ(360deg)
}
}
@-moz-keyframes spin {
0% {
-webkit-transform:rotateZ(0);
-ms-transform:rotateZ(0);
-moz-transform:rotateZ(0);
-o-transform:rotateZ(0);
transform:rotateZ(0)
}
100% {
-webkit-transform:rotateZ(360deg);
-ms-transform:rotateZ(360deg);
-moz-transform:rotateZ(360deg);
-o-transform:rotateZ(360deg);
transform:rotateZ(360deg)
}
}
@-ms-keyframes spin {
0% {
-webkit-transform:rotateZ(0);
-ms-transform:rotateZ(0);
-moz-transform:rotateZ(0);
-o-transform:rotateZ(0);
transform:rotateZ(0)
}
100% {
-webkit-transform:rotateZ(360deg);
-ms-transform:rotateZ(360deg);
-moz-transform:rotateZ(360deg);
-o-transform:rotateZ(360deg);
transform:rotateZ(360deg)
}
}
@keyframes spin {
0% {
-webkit-transform:rotateZ(0);
-ms-transform:rotateZ(0);
-moz-transform:rotateZ(0);
-o-transform:rotateZ(0);
transform:rotateZ(0)
}
100% {
-webkit-transform:rotateZ(360deg);
-ms-transform:rotateZ(360deg);
-moz-transform:rotateZ(360deg);
-o-transform:rotateZ(360deg);
transform:rotateZ(360deg)
}
}
.spinner {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}
.loading-spinner-wrap {
	margin: auto
}
.loading-spinner {
	background: url(pics/tappr_logo_white.png);
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	-webkit-animation: spin 550ms linear infinite;
	-ms-animation: spin 550ms linear infinite;
	-moz-animation: spin 550ms linear infinite;
	-o-animation: spin 550ms linear infinite;
	animation: spin 550ms linear infinite
}
.loading-spinner-prefetch {
	position: absolute;
	top: -100000px;
	left: -100000px;
	background: url(pics/tappr_logo_white.png)
}
