input[type="button"], input[type="submit"], input[type="reset"], button, a.button {
	display: inline-block;
	height: 40px;
	min-width: 160px;
	max-width: 50%;
	padding: 0 40px;
	margin-bottom: 22px;
	border: 0;
	border-radius: 5px;
	color: #fff;
    font-family:, "HelveticaNeue", Helvetica, Arial, sans-serif;
	font-size: 12px;
    opacity: 0.7;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 40px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	background-color: #00ccff;
	background-image: linear-gradient(#00ccff, #00ccff);
}

input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, button:hover, a.button:hover, input[type="button"]:focus, input[type="submit"]:focus, input[type="reset"]:focus, button:focus, a.button:focus {
	color: #fff;
	background-image: linear-gradient(#00ccff, #00ccff);
    opacity: 1;
}

input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active, button:active, a.button:active {
	background-image: linear-gradient(#00ccff, #00ccff);
}

input[type="button"] span, input[type="submit"] span, input[type="reset"] span, button span, a.button span {
	position: relative;
	top: 1px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}

input.button-secondary[type="button"], input.button-secondary[type="submit"], input.button-secondary[type="reset"], button.button-secondary, a.button-secondary.button {
	background: #fff;
	color: #00ccff
}

input.button-secondary[type="button"]:hover, input.button-secondary[type="submit"]:hover, input.button-secondary[type="reset"]:hover, button.button-secondary:hover, a.button-secondary.button:hover, input.button-secondary[type="button"]:focus, input.button-secondary[type="submit"]:focus, input.button-secondary[type="reset"]:focus, button.button-secondary:focus, a.button-secondary.button:focus {
	background: #fdfdfd;
	color: #00ccff;
}

input[disabled][type="button"], input[disabled][type="submit"], input[disabled][type="reset"], button[disabled], a[disabled].button {
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	opacity: 0.3;
}

/*input[disabled][type="button"]:hover, input[disabled][type="submit"]:hover, input[disabled][type="reset"]:hover, button[disabled]:hover, a[disabled].button:hover, input[disabled][type="button"]:active, input[disabled][type="submit"]:active, input[disabled][type="reset"]:active, button[disabled]:active, a[disabled].button:active {
	background: #a7a7a7;
}*/


.radiowrapper {
    margin-top: 10px;
    margin-right: 10px;
	margin-bottom: 22px;
}

.radiowrapper input {
    visibility:hidden;
    width: 0;
}

.radiowrapper label {
    display: inline-block;
    color: #00ccff;
    font-family:, "HelveticaNeue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
    text-decoration: none;
	text-transform: uppercase;
	text-align: center;
    height: 40px;
	min-width: 140px;
	padding: 0 40px;
    line-height: 40px;
	border: 1px solid #00ccff;
	border-radius: 5px;
	
}
/* .radiowrapper inout:hover {
    background: #fdfdfd;
	color: #00ccff;
}*/

.radiowrapper input:checked + label {
    font-weight:bold; 
    color: #fff;
    background-color: #00ccff;
	background-image: linear-gradient(#00ccff, #00ccff);
}

.container-selector {
    margin: 0 auto;
    display:inline;
    
    float:none;
}

@media (min-width: 47.9285714286em) {
.container-selector {
    display:inline-flex;
}
}

/*image button tablet mPos*/
.imgbutton {
    background:url(../pics/mpos.png) no-repeat; 
    background-size:contain;
    cursor:pointer;
    min-height: 200px;
    min-width: 200px;
    height:auto; 
    width:auto; 
    max-width:200px; 
    max-height:200px;
    border: 3px solid #8b8b8b;
    color: #aeb6bc;
    border-radius: 18px;
    padding: 8px 14px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.4), 0 1px 0 rgba(255,255,255,0.2) inset;
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.4), 0 1px 0 rgba(255,255,255,0.2) inset;
	box-shadow: 0 2px 4px rgba(0,0,0,0.4), 0 1px 0 rgba(255,255,255,0.2) inset;
    position: relative;
	opacity: 0.5;
    -webkit-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
	-ms-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
}

.imgbutton:hover {
    opacity: 1;
	border: 3px solid #00ccff;
    background:url(../pics/mpos.png) no-repeat; 
    background-size:contain;
    -webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.imgbutton:hover #overlay {
               opacity:1;
}

.imgbutton:active {
    opacity: 1;
	border: 3px solid #00ccff;
    background:url(../pics/mpos.png) no-repeat; 
    background-size:contain;
}
.imgbutton:focus {
    opacity: 1;
	border: 3px solid #00ccff;
    background:url(../pics/mpos.png) no-repeat; 
    background-size:contain;
}

.imgbutton:focus #overlay {
               opacity:1;
}

/*image button card reader*/
.imgbuttonCard {
    background:url(../pics/cardRead.jpg) no-repeat; 
    background-size:contain;
    cursor:pointer;
    min-height: 200px;
    min-width: 200px;
    height:auto; 
    width:auto; 
    max-width:200px; 
    max-height:200px;
    border: 3px solid #8b8b8b;
    color: #aeb6bc;
    border-radius: 18px;
    padding: 8px 14px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.4), 0 1px 0 rgba(255,255,255,0.2) inset;
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.4), 0 1px 0 rgba(255,255,255,0.2) inset;
	box-shadow: 0 2px 4px rgba(0,0,0,0.4), 0 1px 0 rgba(255,255,255,0.2) inset;
    position: relative;
	opacity: 0.5;
    -webkit-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
	-ms-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
}

.imgbuttonCard:hover {
    opacity: 0.5;
	border: 3px solid #00ccff;
    background:url(../pics/cardRead.jpg) no-repeat; 
    background-size:contain;
    -webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.imgbuttonCard:hover #overlay {
               opacity:1;
}




.imgbuttonCard:focus #overlay {
               opacity:1;
}

.imgbuttonCard:active {
    opacity: 0.5;
	border: 3px solid #00ccff;
    background:url(../pics/cardRead.jpg) no-repeat; 
    background-size:contain;
}

.imgbuttonCard:focus {
    opacity: 0.5;
	border: 3px solid #00ccff;
    background:url(../pics/cardRead.jpg) no-repeat; 
    background-size:contain;
}

#overlay {  
    background:url(../pics/checked.png) no-repeat; 
    position: absolute;
    width: 100%;
    height: 100%;
    top: 5px;
    left: 5px;
    opacity:0;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
}
