@charset "UTF-8";
@import url("custom.css");

html,body,div,span,applet,object,iframe,h1,h2,h3,.about-square .field-title,.quiz-questions .field-title,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
	margin:0;
	padding:0;
	border:0;
	font:inherit;
	font-size:100%;
	vertical-align:baseline
	}
	html{line-height:1}
	ol,ul{list-style:none}
	table{border-collapse:collapse;border-spacing:0}
	caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}q,blockquote{quotes:none}
	q:before,q:after,blockquote:before,blockquote:after{content:"";content:none}
	a img{border:none}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block}
	
	@font-face{font-family:"Square Market";src:url(/assets/sqmarket/sqmarket-thin-92d37a029a8039484ca858872059193b.eot);src:url(/assets/sqmarket/sqmarket-thin.eot?#iefix) format('embedded-opentype'),url(/assets/sqmarket/sqmarket-thin-82afb3eb4b7d82dee2baf705e7245db1.woff) format('woff'), url(/assets/sqmarket/sqmarket-thin-c7647a2496b8013f5f8b503366ae62ec.ttf) format('truetype');font-weight:100}
	@font-face{font-family:"Square Market";src:url(/assets/sqmarket/sqmarket-thin-italic-3e39f19ade3da034b1872f90b7ded541.eot);src:url(/assets/sqmarket/sqmarket-thin-italic.eot?#iefix) format('embedded-opentype'),url(/assets/sqmarket/sqmarket-thin-italic-c44eb66b1f5144de4c91d24dbad4d9d1.woff) format('woff'), url(/assets/sqmarket/sqmarket-thin-italic-09230c3b1d522b5057a50b09b0190f40.ttf) format('truetype');font-weight:100;font-style:italic}
	@font-face{font-family:"Square Market";src:url(/assets/sqmarket/sqmarket-light-b279aa118141810ab703043d852c4937.eot);src:url(/assets/sqmarket/sqmarket-light.eot?#iefix) format('embedded-opentype'),url(/assets/sqmarket/sqmarket-light-4c85d721c3cfb736f9b6801ac4c88938.woff) format('woff'), url(/assets/sqmarket/sqmarket-light-a792ddf1be8b6e987ff9aa15cfe69b8e.ttf) format('truetype');font-weight:300}
	@font-face{font-family:"Square Market";src:url(/assets/sqmarket/sqmarket-light-italic-c343f1cca3b473b030fdc7fcc3ad2277.eot);src:url(/assets/sqmarket/sqmarket-light-italic.eot?#iefix) format('embedded-opentype'),url(/assets/sqmarket/sqmarket-light-italic-11e4085cf1274d8cc23fd7e9fdc524a9.woff) format('woff'), url(/assets/sqmarket/sqmarket-light-italic-0c87c1c46eee9b244f0fbec1f2d73065.ttf) format('truetype');font-weight:300;font-style:italic}
	@font-face{font-family:"Square Market";src:url(/assets/sqmarket/sqmarket-regular-082d8937a2c0391e4b18690f7a27fd1e.eot);src:url(/assets/sqmarket/sqmarket-regular.eot?#iefix) format('embedded-opentype'),url(/assets/sqmarket/sqmarket-regular-284383a5ec4f3a6dcc4bddf2181b1038.woff) format('woff'), url(/assets/sqmarket/sqmarket-regular-f948272beb5094e1fc97ed329f5d8a0b.ttf) format('truetype');font-weight:400}
	@font-face{font-family:"Square Market";src:url(/assets/sqmarket/sqmarket-regular-italic-5973190156e4c2900857415bb75bc106.eot);src:url(/assets/sqmarket/sqmarket-regular-italic.eot?#iefix) format('embedded-opentype'),url(/assets/sqmarket/sqmarket-regular-italic-c3aade97f5340482b172b9a39900eedb.woff) format('woff'), url(/assets/sqmarket/sqmarket-regular-italic-1707951894de3588bdde78ef5474fe2e.ttf) format('truetype');font-weight:400;font-style:italic}
	@font-face{font-family:"Square Market";src:url(/assets/sqmarket/sqmarket-medium-ff5d4e822abb807098e66809cddcab02.eot);src:url(/assets/sqmarket/sqmarket-medium.eot?#iefix) format('embedded-opentype'),url(/assets/sqmarket/sqmarket-medium-e96bd63ea7cab72522e66f9402985ce8.woff) format('woff'), url(/assets/sqmarket/sqmarket-medium-f57de76f7b1fb34bbb2805c0ac4e575c.ttf) format('truetype');font-weight:500}
	@font-face{font-family:"Square Market";src:url(/assets/sqmarket/sqmarket-medium-italic-baf9e04b9f3361064c8a1f5b50a887f6.eot);src:url(/assets/sqmarket/sqmarket-medium-italic.eot?#iefix) format('embedded-opentype'),url(/assets/sqmarket/sqmarket-medium-italic-97257c54132312512628be39f3f4f07c.woff) format('woff'), url(/assets/sqmarket/sqmarket-medium-italic-6468a2a9086cd1f72407cc3da430efbc.ttf) format('truetype');font-weight:500;font-style:italic}
	@font-face{font-family:"Square Market";src:url(/assets/sqmarket/sqmarket-bold-60978c01d6ef469a3763b824c61a0c28.eot);src:url(/assets/sqmarket/sqmarket-bold.eot?#iefix) format('embedded-opentype'),url(/assets/sqmarket/sqmarket-bold-fb21e9986e03173ab02612b1303626d5.woff) format('woff'), url(/assets/sqmarket/sqmarket-bold-a0894c1e19052599b8938f8a38686ed9.ttf) format('truetype');font-weight:700}
	@font-face{font-family:"Square Market";src:url(/assets/sqmarket/sqmarket-bold-italic-f3cd8ab0e810dcf59124a910d629d54f.eot);src:url(/assets/sqmarket/sqmarket-bold-italic.eot?#iefix) format('embedded-opentype'),url(/assets/sqmarket/sqmarket-bold-italic-0429402e4508e291adb554beb38fa79c.woff) format('woff'), url(/assets/sqmarket/sqmarket-bold-italic-97edbfd09e6c76d1271cf8f794880cc5.ttf) format('truetype');font-weight:700;font-style:italic}
	.center-vertically{position:relative;white-space:nowrap}
	.center-vertically>*{display:inline-block;vertical-align:middle;white-space:normal}
	.center-vertically:after{content:"";position:relative;height:100%;display:inline-block;vertical-align:middle;width:1px}
	.center-vertically-wrap{display:table}
	.center-vertically-text{display:table-cell;vertical-align:middle}
	.always-square{position:relative;z-index:1;white-space:nowrap}
	.always-square:after{padding-top:100%;display:inline-block;content:""}
	.inline{display:inline}
	.hidden{display:none !important;visibility:hidden}
	.visually-hidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
	
	@media (max-width: 34.2857142857em){
		.mobile-hidden{display:none}
		}
		@media (max-width: 68.5714285714em){.tablet-hidden{display:none}}
		@font-face{font-family:"sqicons";src:url("//squareup.com/begin/public/sq-icons/sq-icons.eot");src:url("//squareup.com/begin/public/sq-icons/sq-icons.eot?#iefix") format("embedded-opentype"),url("//squareup.com/begin/public/sq-icons/sq-icons.woff") format("woff"),url("//squareup.com/begin/public/sq-icons/sq-icons.ttf") format("truetype");font-weight:300;font-style:normal}
		[data-icon]:before{font-family:"sqicons";content:attr(data-icon);speak:none;font-weight:normal;font-variant:normal;text-transform:none;line-height:1}
		[class*="sq_icon"]{font-family:"sqicons";speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;text-shadow:none}
		.sq_icon_logo:before{content:"\e00d"}
		.sq_icon_logotype:before{content:"\e00d"}
		@media (min-width: 47.9285714286em){
			.sq_icon_logotype:before{content:"\e003"}}
			.sq_icon_visa:before{content:"\e000"}
			.sq_icon_items:before{content:"\e00e"}
			.sq_icon_gift:before{content:"\e00f"}
			.sq_icon_gift_angled:before{content:"\e010"}
			.sq_icon_favorite:before{content:"\e011"}
			.sq_icon_easy:before{content:"\e012"}
			.sq_icon_dashboard:before{content:"\e013"}
			.sq_icon_currency:before{content:"\e014"}
			.sq_icon_credit:before{content:"\e015"}
			.sq_icon_credit_angled:before{content:"\e016"}
			.sq_icon_covered:before{content:"\e017"}
			.sq_icon_connected:before{content:"\e018"}
			.sq_icon_auditing:before{content:"\e019"}
			.sq_icon_mastercard:before{content:"\e001"}
			.sq_icon_mail:before{content:"\e002"}
			.sq_icon_location:before{content:"\e004"}
			.sq_icon_updates:before{content:"\e005"}
			.sq_icon_support:before{content:"\e006"}
			.sq_icon_strength:before{content:"\e007"}
			.sq_icon_starbucks:before{content:"\e008"}
			.sq_icon_speed:before{content:"\e009"}
			.sq_icon_sign:before{content:"\e00a"}
			.sq_icon_security:before{content:"\e00b"}
			.sq_icon_receipt:before{content:"\e00c"}
			.sq_icon_rate:before{content:"\e01a"}
			.sq_icon_profile:before{content:"\e01b"}
			.sq_icon_pricing:before{content:"\e01c"}
			.sq_icon_phone:before{content:"\e01d"}
			.sq_icon_navigation:before{content:"\e01e"}
			body{
				font-family:"Square Market","HelveticaNeue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.4285714286em;font-weight:300;-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility}
			h1{
				font-size:3.1428571429em;
				line-height:1.1818181818em;margin-bottom:0.2045454545em;		
				font-weight:300}
		h2{
			font-size:2em;
			line-height:1.5em;
			margin-bottom:0.3214285714em;
			font-weight:300}
			h3, .field-title,.quiz-questions .field-title{
				font-size:1.5714285714em;
				line-height:1.4545454545em;
				margin-bottom:0.2272727273em;
				font-weight:300}
		h4{
			font-size:1.2857142857em;
		line-height:1.1111111111em;
		margin-bottom:2.2777777778em;
		font-weight:400}
		h5,h6{
			font-size:1em;
			margin-bottom:0.3571428571em;
			font-weight:400}
			p{margin-bottom:1.4285714286em}
			p:last-child{margin-bottom:0}
			p.lede{margin-bottom:2.8571428571em}
			.fine-print{margin-bottom:1.6666666667em;
			line-height:1.6666666667em;
			font-size:0.8571428571em}
		strong{font-weight:500}
		body{color:gray}
		h1,h2,h3, .field-title,.quiz-questions .field-title,h4,h5{color:#162633;text-shadow:0 0.0357142857em 0 rgba(255,255,255,0.5)}
		p,li{text-shadow:0 0.0357142857em 0 rgba(255,255,255,0.5)}
		.inverted h1,.inverted h2,.inverted h3,.inverted .about-square .field-title, .inverted .field-title,.inverted .quiz-questions .field-title,.quiz-questions .inverted .field-title,.inverted h4,.inverted h5,.inverted p,.inverted li,.inverted .icon{
			color:#fff;text-shadow:none}
			ul{list-style-type:disc}
			ul,ol{padding-left:1em}
			ul.reset,ol.reset{list-style-type:none;padding-left:0}
			ol.numeric{list-style-type:decimal}
			ol.alpha{list-style-type:upper-alpha}
			ol.graphical{counter-reset:list_item}
			ol.graphical li:before{display:-moz-inline-stack;display:inline-block;vertical-align:middle;*vertical-align:auto;zoom:1;*display:inline;font-size:1.2857142857em;width:3.1111111111em;height:3.1111111111em;line-height:3.1111111111em;margin-bottom:1.1111111111em;counter-increment:list_item;content:counter(list_item);font-weight:700;border:1px solid rgba(255,255,255,0.5);border-radius:2em}
			.show-baseline{background-size:20px 20px !important;background-image:-webkit-repeating-linear-gradient(#fff 0, #fff 19px, rgba(39,166,225,0.2) 20px) !important}*,:before,:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}::selection{color:#fff;text-shadow:none;background:gray}
			html{-webkit-tap-highlight-color:rgba(0,0,0,0)}@media (max-width: 47.9285714286em){
				html{-webkit-text-size-adjust:none;-ms-text-size-adjust:100}}body{min-width:20.7142857143em}
				.main-content{background:#fff;overflow:hidden;width:100%;padding-bottom:6.0714285714em}
				section{position:relative}
				.content{max-width:19.8571428571em;margin:0 auto}
				@media (min-width: 34.2857142857em){.content{max-width:33.4285714286em}}@media (min-width: 47.9285714286em){.content{max-width:47.0714285714em}}@media (min-width: 68.5714285714em){.content{max-width:67.7142857143em}}
		
		
		.content-pad-vert{
			padding-top:4.8571428571em;
			padding-bottom:2.8571428571em;
			text-align:center;
			}
		.content-pad-bottom{padding-bottom:2.8571428571em}
		.content-pad-top{padding-top:2.8571428571em}.content-pad-bottom{padding-bottom:2.8571428571em}
		[class*="grid"]>*{
			width:100%;
			float:right;
			padding:0 0.4285714286em;
		}
		ul,ol{margin-bottom:40px}
		ul:last-child,ol:last-child{margin-bottom:0}
		.row{*zoom:1;margin-left:-0.4285714286em;margin-right:-0.4285714286em}.row:after{content:"";display:table;clear:both}
		.grid-2>*{width:50%}
		.grid-3>*{width:33.3333333333%}
		.grid-4>*{width:25%}
		.grid-5>*{width:20%}
		.grid-1-4>*{width:100%}
		@media (min-width: 47.9285714286em){
			.grid-1-4>*{width:25%}
			.grid-1-4>*.max-col-span-2{width:50%}
			.grid-1-4>*.max-col-span-3{width:75%}
			.grid-1-4>*.max-col-span-4{width:100%}
			}
			.grid-1-5>*{width:100%}
			@media (min-width: 47.9285714286em){
			.grid-1-5>*{width:20%}.grid-1-5>*.max-col-span-2{width:40%}.grid-1-5>*.max-col-span-3{width:60%}.grid-1-5>*.max-col-span-4{width:80%}.grid-1-5>*.max-col-span-5{width:100%}}.grid-1-3>*{width:100%}@media (min-width: 47.9285714286em){.grid-1-3>*{width:33.3333333333%}.grid-1-3>*.max-col-span-2{width:66.6666666667%}.grid-1-3>*.max-col-span-3{width:100%}}.grid-1-2>*{width:100%}@media (min-width: 68.5714285714em){.grid-1-2>*{width:50%}.grid-1-2>*.max-col-span-2{width:100%}}.grid-2-5>*{width:50%}.grid-2-5>*.max-col-span-2{width:100%}@media (min-width: 47.9285714286em){.grid-2-5>*{width:20%}.grid-2-5>*.max-col-span-2{width:40%}.grid-2-5>*.max-col-span-3{width:60%}.grid-2-5>*.max-col-span-4{width:80%}.grid-2-5>*.max-col-span-5{width:100%}}.grid-1-1-2>*{width:100%}@media (min-width: 47.9285714286em){
				.grid-1-1-2>*{width:100%}
				}
				@media (min-width: 68.5714285714em){
					.grid-1-1-2>*{width:50%}
					.grid-1-1-2>*.max-col-span-2{width:100%}
					}
					.grid-1-2-2>*{width:100%}@media (min-width: 47.9285714286em){.grid-1-2-2>*{width:50%}.grid-1-2-2>*.max-col-span-2{width:100%}}@media (min-width: 68.5714285714em){.grid-1-2-2>*{width:50%}.grid-1-2-2>*.max-col-span-2{width:100%}}.grid-1-1-3>*{width:100%}@media (min-width: 47.9285714286em){.grid-1-1-3>*{width:100%}}
					@media (min-width: 68.5714285714em){
					.grid-1-1-3>*{width:33.3333333333%}
					.grid-1-1-3>*.max-col-span-2{width:100%}
					.grid-1-1-3>*.max-col-span-3{width:100%}}
					.grid-1-2-3>*{width:100%}@media (min-width: 47.9285714286em){.grid-1-2-3>*{width:50%}.grid-1-2-3>*.max-col-span-2{width:100%}}@media (min-width: 68.5714285714em){.grid-1-2-3>*{width:33.3333333333%}
		
		.grid-1-2-3>*.max-col-span-2{width:100#2186%}
		.grid-1-2-3>*.max-col-span-3{width:100%}}.grid-1-2-4>*{width:100%}@media (min-width: 47.9285714286em){.grid-1-2-4>*{width:50%}.grid-1-2-4>*.max-col-span-2{width:100%}}@media (min-width: 68.5714285714em){.grid-1-2-4>*{width:25%}.grid-1-2-4>*.max-col-span-2{width:50%}.grid-1-2-4>*.max-col-span-3{width:75%}.grid-1-2-4>*.max-col-span-4{width:100%}}.grid-1-2-4>*{width:100%}@media (min-width: 47.9285714286em){.grid-1-2-4>*{width:50%}.grid-1-2-4>*.max-col-span-2{width:100%}}@media (min-width: 68.5714285714em){.grid-1-2-4>*{width:25%}.grid-1-2-4>*.max-col-span-2{width:50%}.grid-1-2-4>*.max-col-span-3{width:75%}.grid-1-2-4>*.max-col-span-4{width:100%}}.grid-1-2-8>*{width:100%}@media (min-width: 47.9285714286em){.grid-1-2-8>*{width:50%}.grid-1-2-8>*.max-col-span-2{width:100%}}@media (min-width: 68.5714285714em){.grid-1-2-8>*{width:12.5%}.grid-1-2-8>*.max-col-span-2{width:25%}.grid-1-2-8>*.max-col-span-3{width:37.5%}.grid-1-2-8>*.max-col-span-4{width:50%}.grid-1-2-8>*.max-col-span-5{width:62.5%}.grid-1-2-8>*.max-col-span-6{width:75%}.grid-1-2-8>*.max-col-span-7{width:87.5%}.grid-1-2-8>*.max-col-span-8{width:100%}}.grid-1-3-3>*{width:100%}@media (min-width: 47.9285714286em){.grid-1-3-3>*{width:33.3333333333%}.grid-1-3-3>*.max-col-span-2{width:66.6666666667%}.grid-1-3-3>*.max-col-span-3{width:100%}}@media (min-width: 68.5714285714em){.grid-1-3-3>*{width:33.3333333333%}.grid-1-3-3>*.max-col-span-2{width:66.6666666667%}.grid-1-3-3>*.max-col-span-3{width:100%}}.grid-1-3-4>*{width:100%}@media (min-width: 47.9285714286em){.grid-1-3-4>*{width:33.3333333333%}.grid-1-3-4>*.max-col-span-2{width:66.6666666667%}.grid-1-3-4>*.max-col-span-3{width:100%}}@media (min-width: 68.5714285714em){.grid-1-3-4>*{width:25%}.grid-1-3-4>*.max-col-span-2{width:50%}.grid-1-3-4>*.max-col-span-3{width:75%}.grid-1-3-4>*.max-col-span-4{width:100%}}.grid-1-3-5>*{width:100%}@media (min-width: 47.9285714286em){.grid-1-3-5>*{width:33.3333333333%}.grid-1-3-5>*.max-col-span-2{width:66.6666666667%}.grid-1-3-5>*.max-col-span-3{width:100%}}@media (min-width: 68.5714285714em){.grid-1-3-5>*{width:20%}.grid-1-3-5>*.max-col-span-2{width:40%}.grid-1-3-5>*.max-col-span-3{width:60%}.grid-1-3-5>*.max-col-span-4{width:80%}.grid-1-3-5>*.max-col-span-5{width:100%}}.grid-2-3-4>*{width:50%}.grid-2-3-4>*.max-col-span-2{width:100%}@media (min-width: 47.9285714286em){.grid-2-3-4>*{width:33.3333333333%}.grid-2-3-4>*.max-col-span-2{width:66.6666666667%}.grid-2-3-4>*.max-col-span-3{width:100%}}@media (min-width: 68.5714285714em){.grid-2-3-4>*{width:25%}.grid-2-3-4>*.max-col-span-2{width:50%}.grid-2-3-4>*.max-col-span-3{width:75%}.grid-2-3-4>*.max-col-span-4{width:100%}}.grid-2-3-5>*{width:50%}.grid-2-3-5>*.max-col-span-2{width:100%}@media (min-width: 47.9285714286em){.grid-2-3-5>*{width:33.3333333333%}.grid-2-3-5>*.max-col-span-2{width:66.6666666667%}.grid-2-3-5>*.max-col-span-3{width:100%}}@media (min-width: 68.5714285714em){.grid-2-3-5>*{width:20%}.grid-2-3-5>*.max-col-span-2{width:40%}.grid-2-3-5>*.max-col-span-3{width:60%}.grid-2-3-5>*.max-col-span-4{width:80%}.grid-2-3-5>*.max-col-span-5{width:100%}}.grid-1-2-2-2>*{width:100%}@media (min-width: 34.2857142857em){.grid-1-2-2-2>*{width:50%}.grid-1-2-2-2>*.max-col-span-2{width:100%}}@media (min-width: 47.9285714286em){.grid-1-2-2-2>*{width:50%}.grid-1-2-2-2>*.max-col-span-2{width:100%}}@media (min-width: 68.5714285714em){.grid-1-2-2-2>*{width:50%}.grid-1-2-2-2>*.max-col-span-2{width:100%}}.grid-1-1-5>*{width:100%}@media (min-width: 47.9285714286em){.grid-1-1-5>*{width:100%}}@media (min-width: 68.5714285714em){.grid-1-1-5>*{width:20%}.grid-1-1-5>*.max-col-span-2{width:40%}.grid-1-1-5>*.max-col-span-3{width:60%}.grid-1-1-5>*.max-col-span-4{width:80%}.grid-1-1-5>*.max-col-span-5{width:100%}}.grid-1-4-4>*{width:100%}@media (min-width: 34.2857142857em){.grid-1-4-4>*{width:25%}.grid-1-4-4>*.max-col-span-2{width:50%}.grid-1-4-4>*.max-col-span-3{width:75%}.grid-1-4-4>*.max-col-span-4{width:100%}}@media (min-width: 47.9285714286em){.grid-1-4-4>*{width:25%}.grid-1-4-4>*.max-col-span-2{width:50%}.grid-1-4-4>*.max-col-span-3{width:75%}.grid-1-4-4>*.max-col-span-4{width:100%}}.grid-1-4-8>*{width:100%}@media (min-width: 34.2857142857em){.grid-1-4-8>*{width:25%}.grid-1-4-8>*.max-col-span-2{width:50%}.grid-1-4-8>*.max-col-span-3{width:75%}.grid-1-4-8>*.max-col-span-4{width:100%}}@media (min-width: 47.9285714286em){.grid-1-4-8>*{width:12.5%}.grid-1-4-8>*.max-col-span-2{width:25%}.grid-1-4-8>*.max-col-span-3{width:37.5%}.grid-1-4-8>*.max-col-span-4{width:50%}.grid-1-4-8>*.max-col-span-5{width:62.5%}.grid-1-4-8>*.max-col-span-6{width:75%}.grid-1-4-8>*.max-col-span-7{width:87.5%}.grid-1-4-8>*.max-col-span-8{width:100%}}.grid-1-1-3-3>*{width:100%}@media (min-width: 34.2857142857em){.grid-1-1-3-3>*{width:100%}}@media (min-width: 47.9285714286em){.grid-1-1-3-3>*{width:33.3333333333%}.grid-1-1-3-3>*.max-col-span-2{width:66.6666666667%}.grid-1-1-3-3>*.max-col-span-3{width:100%}}@media (min-width: 68.5714285714em){.grid-1-1-3-3>*{width:33.3333333333%}.grid-1-1-3-3>*.max-col-span-2{width:66.6666666667%}.grid-1-1-3-3>*.max-col-span-3{width:100%}}.grid-1-1-3-4>*{width:100%}@media (min-width: 34.2857142857em){.grid-1-1-3-4>*{width:100%}}@media (min-width: 47.9285714286em){.grid-1-1-3-4>*{width:33.3333333333%}.grid-1-1-3-4>*.max-col-span-2{width:66.6666666667%}.grid-1-1-3-4>*.max-col-span-3{width:100%}}@media (min-width: 68.5714285714em){.grid-1-1-3-4>*{width:25%}.grid-1-1-3-4>*.max-col-span-2{width:50%}.grid-1-1-3-4>*.max-col-span-3{width:75%}.grid-1-1-3-4>*.max-col-span-4{width:100%}}.grid-1-1-4-4>*{width:100%}@media (min-width: 34.2857142857em){.grid-1-1-4-4>*{width:100%}}@media (min-width: 47.9285714286em){.grid-1-1-4-4>*{width:25%}.grid-1-1-4-4>*.max-col-span-2{width:50%}.grid-1-1-4-4>*.max-col-span-3{width:75%}.grid-1-1-4-4>*.max-col-span-4{width:100%}}@media (min-width: 68.5714285714em){.grid-1-1-4-4>*{width:25%}.grid-1-1-4-4>*.max-col-span-2{width:50%}.grid-1-1-4-4>*.max-col-span-3{width:75%}.grid-1-1-4-4>*.max-col-span-4{width:100%}}.tracking-pixels{position:absolute;height:0;width:0;bottom:0}.testimonials-grid{margin-left:-0.2142857143em;margin-right:-0.2142857143em}.testimonials-grid>*{padding-left:0.2142857143em;padding-right:0.2142857143em;margin-bottom:0.4285714286em}.testimonials-grid .content{-webkit-border-radius:0.2142857143em;-moz-border-radius:0.2142857143em;-ms-border-radius:0.2142857143em;-o-border-radius:0.2142857143em;border-radius:0.2142857143em;height:100%}.testimonials-grid .content:after{content:"";padding-top:100%;height:auto}.testimonials-grid .merchant{display:none}.testimonials-grid .merchant:nth-child(1),.testimonials-grid .merchant:nth-child(3),.testimonials-grid .merchant:nth-child(5),.testimonials-grid .merchant:nth-child(7){display:block}.testimonials-grid .merchant .content{background:#f0f0f0}@media (min-width: 47.9285714286em){
			.testimonials-grid{position:relative}
			.testimonials-grid .merchant{display:block;margin-bottom:0.4285714286em}
			.testimonials-grid .merchant:nth-child(1),.testimonials-grid .merchant:nth-child(4){margin-right:40%}
			.testimonials-grid .info{position:absolute;top:0;left:20%;height:auto}}a{color:#3197ca;text-decoration:none}.inverted a{color:#fff}a:hover{text-decoration:underline}
			input,select,textarea{margin:0;padding:0}
			input:focus,select:focus,textarea:focus{outline:none}
			button,input,select,textarea{font-family:inherit;line-height:inherit;font-size:inherit;font-weight:inherit}:-moz-focus-inner{border:0}
			input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:rgba(166,166,166,0.6);font-size:1em;font-weight:400;-webkit-font-smoothing:antialiased}
			input:focus::-webkit-input-placeholder,textarea:focus::-webkit-input-placeholder{color:rgba(204,204,204,0.6)}
			input:-moz-placeholder,textarea:-moz-placeholder{color:rgba(166,166,166,0.6);font-size:1em;font-weight:400}
			input.placeholder,textarea.placeholder{color:rgba(166,166,166,0.6);font-size:1em;font-weight:400}
		label:not(.radio){
			display:block;
			width:100%;
			border-radius:inherit;
			line-height:1.5;
			font-size:11px;
			font-weight:500;
			letter-spacing:1px;color:#5f6a7d;
			}
.field-label-hint{color:#bbbfc1;font-weight:400}
input[type="search"],input[type="file"],input[type="range"],textarea,.fade-label label,.input-group-list,.input-group-inline,.block-input-group,.select2-container,select{display:-moz-inline-stack;display:inline-block;vertical-align:middle;*vertical-align:auto;zoom:1;*display:inline;width:100%;height:2.8571428571em;padding:0.7142857143em 0.8571428571em 0.5714285714em;background:#fff;font-size:1em;margin-top:0.35em;margin-bottom:10px}input[type="search"],textarea,.fade-label label,.input-group-list,.input-group-inline,.block-input-group,.banner,select{border:1px solid #cfd4d7;border-radius:10px}input[type="search"]:focus,textarea:focus,.fade-label label:focus,.input-group-list:focus,.input-group-inline:focus,.block-input-group:focus,.banner:focus,select:focus{border-color:#3197ca}.field-error input[type="search"],.field-error textarea,.field-error .fade-label label,.fade-label .field-error label,.field-error .input-group-list,.field-error .input-group-inline,.field-error .block-input-group,.field-error .banner,.field-error select{border-color:#ea8785}input[type="radio"],input[type="checkbox"],input[type="color"],.quiz-questions label.radio,select{cursor:pointer}[disabled],[disabled="disabled"]{cursor:default}.block-input-group .input-group-element .field-error input{border-color:#ea8785 !important}input[type="search"]{-webkit-appearance:none;border-radius:40px}input[type="search"]::-webkit-search-cancel-button{display:none}input[type="file"],input[type="range"]{background-color:transparent}textarea{min-height:90px;font-size:inherit}input[type="radio"],input[type="checkbox"]{margin-right:6px;margin-left:3px}input[type="color"]{padding:0;background:#cfd4d7;display:block}input[type="color"]::-webkit-color-swatch-wrapper{padding:0;border:1px solid #fff}input[type="color"]::-webkit-color-swatch{border:0;border-radius:10px}.field-error input,.field-error textarea,.field-error select{border-color:#ea8785}.field-error input::-webkit-input-placeholder,.field-error textarea::-webkit-input-placeholder{color:#c2281c}.field-error input:focus::-webkit-input-placeholder,.field-error textarea:focus::-webkit-input-placeholder{color:#ee9089}.field-error input:-moz-placeholder,.field-error textarea:-moz-placeholder{color:#c2281c}.fade-label .field-error input{background:transparent}.fade-label .field-error label{color:#c2281c}.fade-label-focus .field-error label{color:rgba(204,204,204,0.6)}.empty-label input{margin-top:24px}.field-error.fade-label input{background:transparent}.field-error.fade-label label{color:#c2281c}.field-error.fade-label-focus label{color:rgba(204,204,204,0.6)}.fade-label{position:relative}.fade-label label{display:block;width:100%;border:1px solid transparent;font-weight:normal;color:rgba(166,166,166,0.6);overflow:hidden;white-space:nowrap}.fade-label label span{text-indent:0}.fade-label input{position:absolute;top:0;left:0;background:transparent}.fade-label-focus label{color:rgba(204,204,204,0.6)}.hidden{display:none}.fade-label label{border-color:transparent;font-weight:400;position:relative;margin:0}.fade-label input{background:transparent !important}.block-input-group input{position:relative}.block-input-group .fade-label label{top:0;height:38px;padding-top:0;padding-bottom:0;line-height:38px}.block-input-group .fade-label.field,.block-input-group .fade-label .field{margin-bottom:0}.block-input-group .fade-label input{position:absolute;margin-top:0;border-width:1px}.field,.field-input-wrap,.js-field-view{margin-bottom:10px}.field .field,.field .field-input-wrap,.field .js-field-view,.field-input-wrap .field,.field-input-wrap .field-input-wrap,.field-input-wrap .js-field-view,.js-field-view .field,.js-field-view .field-input-wrap,.js-field-view .js-field-view{margin-bottom:0}.input-group-list,.input-group-inline{height:auto;min-height:40px;background:transparent;padding-left:0;padding-right:0;border-color:transparent}.input-group-list label,.input-group-inline label{color:#505e63;font-weight:400;font-size:1em;cursor:pointer}.input-group-error.input-group-list,.input-group-error.input-group-inline{border-color:#ea8785;padding-left:0.8571428571em;padding-right:0.8571428571em}.input-group-focus.input-group-list,.input-group-focus.input-group-inline{border-color:#00bbe0;background:#fff;padding-left:0.8571428571em;padding-right:0.8571428571em}.input-group-list label{background-color:transparent}.input-group-inline label{display:inline-block;margin-right:20px}.input-group-inline label:last-child{margin-right:0}.input-group-inline label input[type="radio"],.input-group-inline label input[type="checkbox"]{margin-bottom:0}.block-input-group{height:auto;*zoom:1;padding:0;background:transparent;border:none}.block-input-group:after{content:"";display:table;clear:both}.block-input-group .input-group-element input{border-style:solid;height:38px;background:#fff;border-radius:0;margin-bottom:0;top:0}.block-input-group .input-group-element input:focus{z-index:2}.block-input-group .input-group-element input:not(:focus){border-color:#cfd4d7}.block-input-group .input-group-element:not(:first-child){border-top-width:1px}.block-input-group.input-group-error,.block-input-group.input-group-error .input-group-element{border-color:#ea8785}.block-input-group.input-group-focus,.block-input-group.input-group-focus .input-group-element{border-color:#00bbe0}.block-input-group-1-2 .fade-label .input-group-element label,.block-input-group-1-2 .input-group-element.fade-label label{border-radius:0 3px 3px 0}.block-input-group-1-2 .fade-label .input-group-element:first-child label,.block-input-group-1-2 .input-group-element.fade-label:first-child label{border-radius:3px 0 0 3px}.block-input-group-1-2 .fade-label .input-group-element:not(:first-child) input:not(:focus),.block-input-group-1-2 .input-group-element.fade-label:not(:first-child) input:not(:focus){border-top-width:0}@media only screen and (min-width: 34.2857142857em){.block-input-group-1-2 .input-group-element{float:left;width:50%}.block-input-group-1-2 .input-group-element .field{margin-bottom:0}.block-input-group-1-2 .input-group-element:first-child input{border-radius:3px 0 0 3px}.block-input-group-1-2 .input-group-element:not(:first-child){border-top:0 !important;border-left-width:0}.block-input-group-1-2 .input-group-element:not(:first-child) input{border-top-width:1px !important;border-radius:0 3px 3px 0}.block-input-group-1-2 .input-group-element:not(:first-child) input:not(:focus){border-left-width:0}}.block-input-group-1-3 .fade-label .input-group-element label,.block-input-group-1-3 .input-group-element.fade-label label{border-radius:0 3px 3px 0}.block-input-group-1-3 .fade-label .input-group-element:first-child label,.block-input-group-1-3 .input-group-element.fade-label:first-child label{border-radius:3px 0 0 3px}.block-input-group-1-3 .fade-label .input-group-element:not(:first-child) input:not(:focus),.block-input-group-1-3 .input-group-element.fade-label:not(:first-child) input:not(:focus){border-top-width:0}@media only screen and (min-width: 47.9285714286em){.block-input-group-1-3 .input-group-element{float:left;width:33.333%}.block-input-group-1-3 .input-group-element .field{margin-bottom:0}.block-input-group-1-3 .input-group-element:first-child input{border-radius:3px 0 0 3px}.block-input-group-1-3 .input-group-element:not(:first-child){border-top:0 !important;border-left-width:0}.block-input-group-1-3 .input-group-element:not(:first-child) input{border-top-width:1px !important;border-radius:0 3px 3px 0}.block-input-group-1-3 .input-group-element:not(:first-child) input:not(:focus){border-left-width:0}}.block-input-group-3 .input-group-element{float:left;width:33.333%}.block-input-group-3 .input-group-element .field{margin-bottom:0}.block-input-group-3 .input-group-element:first-child input{border-radius:3px 0 0 3px}.block-input-group-3 .input-group-element:not(:first-child){border-top:0 !important;border-left-width:0}.block-input-group-3 .input-group-element:not(:first-child) input{border-top-width:1px !important;border-radius:0 3px 3px 0}.block-input-group-3 .input-group-element:not(:first-child) input:not(:focus){border-left-width:0}.block-input-group-4 .input-group-element{float:left;width:25%}.block-input-group-4 .input-group-element .field{margin-bottom:0}.block-input-group-4 .input-group-element:first-child input{border-radius:3px 0 0 3px}.block-input-group-4 .input-group-element:not(:first-child){border-top:0 !important;border-left-width:0}.block-input-group-4 .input-group-element:not(:first-child) input{border-top-width:1px !important;border-radius:0 3px 3px 0}.block-input-group-4 .input-group-element:not(:first-child) input:not(:focus){border-left-width:0}@media only screen and (min-width: 34.2857142857em){.block-input-group-date .input-group-element{float:left;width:30%}.block-input-group-date .input-group-element .field{margin-bottom:0}.block-input-group-date .input-group-element:first-child input{border-radius:3px 0 0 3px}.block-input-group-date .input-group-element:not(:first-child){border-top:0 !important;border-left-width:0}.block-input-group-date .input-group-element:not(:first-child) input{border-top-width:1px !important;border-radius:0 3px 3px 0}.block-input-group-date .input-group-element:not(:first-child) input:not(:focus){border-left-width:0}.block-input-group-date .date-year{width:40%}}.message-box-error{border:1px solid #eed3d7;padding:1.2857142857em 1.7142857143em;background:#f2dede;border-radius:3px;margin-bottom:20px;color:#b94a48}.message-box-error a{color:#c2281c;text-decoration:underline}.message-box-error .error-message{margin-bottom:0;font-weight:500}.message-box-error.single-error .error-message{display:none}.message-box-error.single-error .error-list{list-style:none;padding-left:0}.message-box-success{border:1px solid #d0e5ed;padding:1.2857142857em 1.7142857143em;background:#ebf5f9;border-radius:3px;margin-bottom:10px;color:#1b89bc}.message-box-success .success-message{margin-bottom:0;font-weight:500}.message-box-warning{border:1px solid #fee7ab;padding:1.2857142857em 1.7142857143em;background:#fff2c3;border-radius:3px;margin-bottom:10px;color:#c78f00}.message-box-warning .warning-message{margin-bottom:0;font-weight:500}.message-box-warning .warning-list{list-style:none;padding-left:0}.main-header{height:5em;background:#fbfbfb}.main-header .content{*zoom:1;position:relative}.main-header .content:after{content:"";display:table;clear:both}
		.main-header .logo{
			width:128px;
			margin:20px 0 0;
			max-width: 58px;
			display:block;
			margin-top: auto;
			margin-left:auto;
			margin-right: auto;
			cursor:pointer;
			padding-top: 5px;
		}
			.main-header .logo a {
				color:rgba(9,200,247,1.00);
			}
			
			.main-header .logo.zero-margin{
				margin:0
				}
				.sign-up,.sign-in,.get-app,.nav-toggle,.nav-icon{
					float:right
					}
					.sign-in{
						font-weight:700}
						.sign-in,.nav-toggle,.nav-icon{
							color:rgba(166,166,166,0.6);
							background-color:#fff;}
							.sign-up,.sign-in,.get-app,.nav-toggle,.nav-icon{margin:1.6666666667em 0.6666666667em}.nav-icon,.get-app{display:-moz-inline-stack;display:inline-block;vertical-align:middle;*vertical-align:auto;zoom:1;*display:inline}.get-app,.sign-in,.nav-toggle{display:none}.get-app,.sign-up{margin-right:0}.can-download .sign-up{display:none}.can-download .get-app{display:block}@media (min-width: 47.9285714286em){.sign-in{display:-moz-inline-stack;display:inline-block;vertical-align:middle;*vertical-align:auto;zoom:1;*display:inline}}.nav-icon,.nav-toggle{padding:0;min-width:0;border-radius:0}.nav-icon.active,.nav-toggle.active{color:#27a6e1}.nav-icon{font-size:1.2857142857em;margin:1.4444444444em 0 1.4444444444em 0.8888888889em;height:1em;line-height:1em}@media (min-width: 47.9285714286em){.nav-icon{display:none}}.nav-toggle{margin-right:1.3333333333em}@media (min-width: 47.9285714286em){.nav-toggle{display:-moz-inline-stack;display:inline-block;vertical-align:middle;*vertical-align:auto;zoom:1;*display:inline}}.main-footer{background:#e8ebee;color:#fff;text-align:center}.main-footer .copyright{margin-bottom:1.5em}nav.content .nav-grid{border-bottom:1px solid rgba(255,255,255,0.7);padding-bottom:1.4285714286em;margin-bottom:1.4285714286em}nav.content h5{line-height:2.8571428571em}nav.content .nav-list{list-style-type:none;padding:0}nav.content .nav-list a{color:#fff;text-decoration:none}nav.content .nav-list li{line-height:2.8571428571em}@media (min-width: 47.9285714286em){nav.content{height:auto}nav.content .signin-nav{display:none}nav.content .nav-grid{padding-bottom:0;border-bottom:0}nav.content .nav-grid:first-child{border-right:1px solid rgba(255,255,255,0.7)}nav.content .nav-grid:last-child{border-left:1px solid rgba(255,255,255,0.7)}}@media (min-width: 68.5714285714em){nav.content{text-align:left}nav.content .register-nav>li:nth-last-child(-n+2),nav.content .company-nav>li:nth-last-child(-n+2){margin-bottom:0}}@media (min-width: 47.9285714286em){.lang-ja nav.content{text-align:center}.lang-ja nav.content .nav-grid:last-child{border:none}}.checkbox-icon,.quiz-questions label.radio:before{width:32px;height:32px;background:url(/assets/sprites/signup_sprite_widgets-fb8801d38527a54ace64672514902d0d.png)}@media (-webkit-min-device-pixel-ratio: 1.75), (min-resolution: 168dppx){.checkbox-icon,.quiz-questions label.radio:before{background-size:52px 180px;background-position:-20px 0}}.checkbox-button-small:hover .checkbox-icon,.checkbox-button:hover .checkbox-icon,.quiz-questions label.radio:hover:before{background-position:0 -70px}@media (-webkit-min-device-pixel-ratio: 1.75), (min-resolution: 168dppx){.checkbox-button-small:hover .checkbox-icon,.checkbox-button:hover .checkbox-icon,.quiz-questions label.radio:hover:before{background-position:-20px -35px}}.checkbox-button-small.checked .checkbox-icon,.checkbox-button-small.checked:hover .checkbox-icon,.checkbox-button.checked .checkbox-icon,.checkbox-button.checked:hover .checkbox-icon,.quiz-questions label.radio.checked:before,.quiz-questions label.radio.checked:hover:before{background-position:0 -140px}@media (-webkit-min-device-pixel-ratio: 1.75), (min-resolution: 168dppx){.checkbox-button-small.checked .checkbox-icon,.checkbox-button-small.checked:hover .checkbox-icon,.checkbox-button.checked .checkbox-icon,.checkbox-button.checked:hover .checkbox-icon,.quiz-questions label.radio.checked:before,.quiz-questions label.radio.checked:hover:before{background-position:-20px -70px}}.checkbox-button-small.checked:hover .checkbox-icon,.checkbox-button.checked:hover .checkbox-icon{background-position:0 -210px !important}@media (-webkit-min-device-pixel-ratio: 1.75), (min-resolution: 168dppx){.checkbox-button-small.checked:hover .checkbox-icon,.checkbox-button.checked:hover .checkbox-icon{background-position:-20px -105px !important}}.checkbox-button{width:198px;min-height:258px;position:relative;display:inline-block;margin-right:12px;margin-bottom:12px;border:1px solid #cfd4d7;background:#f7f9f7;background:linear-gradient(#ffffff,#f7f9f7);float:left;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px}.checkbox-button:last-child{margin-right:0}.checkbox-button.checked,.checkbox-button.checked:hover{border:1px solid #3197ca;background:#e5f6ff}.checkbox-button.checked .checkbox-image,.checkbox-button.checked:hover .checkbox-image{background-color:#cadfeb}.checkbox-button.checked p,.checkbox-button.checked:hover p{color:#3197ca}.checkbox-button label{display:none}.checkbox-button h4{font-weight:500;margin-bottom:5px}.checkbox-button-small input,.checkbox-button input{width:100%;height:100%;min-height:100%;min-width:100%;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0;position:absolute;top:0;bottom:0;left:0;right:0}.checkbox-button-small{padding-left:40px;min-height:35px;margin-top:20px;position:relative}.checkbox-button-small label{font-weight:normal;line-height:35px;color:#bbbfc1}.checkbox-button-small.checked label{color:#8b8f94}.checkbox-button-small .checkbox-icon{postion:absolute;left:0;top:0}@media (min-width: 47.9285714286em){.grid-1-1-2>.checkbox-button{width:307px;text-align:center;padding:0;overflow:hidden}.grid-1-1-2>.checkbox-button .checkbox-desc{padding:19px 0 0 0;width:190px;margin:auto}.grid-1-1-2>.checkbox-button.checkbox-button-desc-small .checkbox-desc{width:160px}.grid-1-1-2>.checkbox-button .checkbox-image{height:130px}}.checkbox-icon{position:absolute;top:12px;right:12px}.checkbox-image{width:100%;height:120px;background-position:center center;background-size:cover;background-color:#cfd4d7}.checkbox-desc{box-sizing:border-box;padding:12px}.checkbox-label{margin-bottom:10px;margin-top:15px}.checkbox-no-image.checkbox-button-inline{min-height:70px;padding:20px 13px}.checkbox-no-image .checkbox-image{display:none}.checkbox-button-inline{width:100%;min-height:120px;height:auto}.checkbox-button-inline .checkbox-image{width:105px;height:auto;position:absolute;right:0;top:0;bottom:0}.checkbox-button-inline .checkbox-desc{padding-right:115px}.select2-container{position:relative;display:inline-block;zoom:1;*display:inline;vertical-align:middle}.select2-container .select2-choice{display:block;height:26px;padding:0 0 0 8px;overflow:hidden;position:relative;border:1px solid #aaa;white-space:nowrap;line-height:26px;color:#444;text-decoration:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:#fff;background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.5, #fff));background-image:-webkit-linear-gradient(center bottom, #eee 0%, #fff 50%);background-image:-moz-linear-gradient(center bottom, #eee 0%, #fff 50%);background-image:-o-linear-gradient(bottom, #eee 0%, #fff 50%);background-image:-ms-linear-gradient(top, #fff 0%, #eee 50%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);background-image:linear-gradient(top, #ffffff 0%,#eeeeee 50%)}.select2-container.select2-drop-above .select2-choice{border-bottom-color:#aaa;-webkit-border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px;background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.9, #fff));background-image:-webkit-linear-gradient(center bottom, #eee 0%, #fff 90%);background-image:-moz-linear-gradient(center bottom, #eee 0%, #fff 90%);background-image:-o-linear-gradient(bottom, #eee 0%, #fff 90%);background-image:-ms-linear-gradient(top, #eee 0%, #fff 90%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );background-image:linear-gradient(top, #eeeeee 0%,#ffffff 90%)}.select2-container .select2-choice span{margin-right:26px;display:block;overflow:hidden;white-space:nowrap;-ms-text-overflow:ellipsis;-o-text-overflow:ellipsis;text-overflow:ellipsis}.select2-container .select2-choice abbr{display:block;width:12px;height:12px;position:absolute;right:26px;top:8px;font-size:1px;text-decoration:none;border:0;background:url(/assets/select2/select2-dd52d2a9fb1c9fa4a36a773d90c1a549.png) right top no-repeat;cursor:pointer;outline:0}.select2-container .select2-choice abbr:hover{background-position:right -11px;cursor:pointer}.select2-drop-mask{position:absolute;left:0;top:0;z-index:9998;background-color:#fff;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:"alpha(opacity=0)";filter:alpha(opacity=0)}.select2-drop{width:100%;margin-top:-1px;position:absolute;z-index:9999;top:100%;background:#fff;color:#000;border:1px solid #aaa;border-top:0;-webkit-border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px}.select2-drop.select2-drop-above{margin-top:1px;border-top:1px solid #aaa;border-bottom:0;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0}.select2-container .select2-choice div{display:block;width:18px;height:100%;position:absolute;right:0;top:0;border-left:1px solid #aaa;-webkit-border-radius:0 4px 4px 0;-moz-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0;-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;background:#ccc;background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));background-image:-webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);background-image:-moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);background-image:-o-linear-gradient(bottom, #ccc 0%, #eee 60%);background-image:-ms-linear-gradient(top, #ccc 0%, #eee 60%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc', GradientType = 0);background-image:linear-gradient(top, #cccccc 0%,#eeeeee 60%)}.select2-container .select2-choice div b{display:block;width:100%;height:100%;background:url(/assets/select2/select2-dd52d2a9fb1c9fa4a36a773d90c1a549.png) no-repeat 0 1px}.select2-search{display:inline-block;width:100%;min-height:26px;margin:0;padding-left:4px;padding-right:4px;position:relative;z-index:10000;white-space:nowrap}.select2-search-hidden{display:block;position:absolute;left:-10000px}.select2-search input{width:100%;height:auto !important;min-height:26px;padding:4px 20px 4px 5px;margin:0;outline:0;font-family:sans-serif;font-size:1em;border:1px solid #aaa;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;background:#fff url(/assets/select2/select2-dd52d2a9fb1c9fa4a36a773d90c1a549.png) no-repeat 100% -22px;background:url(/assets/select2/select2-dd52d2a9fb1c9fa4a36a773d90c1a549.png) no-repeat 100% -22px,-webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff), color-stop(0.99, #eee));background:url(/assets/select2/select2-dd52d2a9fb1c9fa4a36a773d90c1a549.png) no-repeat 100% -22px,-webkit-linear-gradient(center bottom, #fff 85%, #eee 99%);background:url(/assets/select2/select2-dd52d2a9fb1c9fa4a36a773d90c1a549.png) no-repeat 100% -22px,-moz-linear-gradient(center bottom, #fff 85%, #eee 99%);background:url(/assets/select2/select2-dd52d2a9fb1c9fa4a36a773d90c1a549.png) no-repeat 100% -22px,-o-linear-gradient(bottom, #fff 85%, #eee 99%);background:url(/assets/select2/select2-dd52d2a9fb1c9fa4a36a773d90c1a549.png) no-repeat 100% -22px,-ms-linear-gradient(top, #fff 85%, #eee 99%);background:url(/assets/select2/select2-dd52d2a9fb1c9fa4a36a773d90c1a549.png) no-repeat 100% -22px,linear-gradient(top, #ffffff 85%,#eeeeee 99%)}.select2-drop.select2-drop-above .select2-search input{margin-top:4px}.select2-search input.select2-active{background:#fff url(/assets/select2/select2-spinner-efec87a6e4d665ab02c27f9049095490.gif) no-repeat 100%;background:url(/assets/select2/select2-spinner-efec87a6e4d665ab02c27f9049095490.gif) no-repeat 100%,-webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff), color-stop(0.99, #eee));background:url(/assets/select2/select2-spinner-efec87a6e4d665ab02c27f9049095490.gif) no-repeat 100%,-webkit-linear-gradient(center bottom, #fff 85%, #eee 99%);background:url(/assets/select2/select2-spinner-efec87a6e4d665ab02c27f9049095490.gif) no-repeat 100%,-moz-linear-gradient(center bottom, #fff 85%, #eee 99%);background:url(/assets/select2/select2-spinner-efec87a6e4d665ab02c27f9049095490.gif) no-repeat 100%,-o-linear-gradient(bottom, #fff 85%, #eee 99%);background:url(/assets/select2/select2-spinner-efec87a6e4d665ab02c27f9049095490.gif) no-repeat 100%,-ms-linear-gradient(top, #fff 85%, #eee 99%);background:url(/assets/select2/select2-spinner-efec87a6e4d665ab02c27f9049095490.gif) no-repeat 100%,linear-gradient(top, #ffffff 85%,#eeeeee 99%)}.select2-container-active .select2-choice,.select2-container-active .select2-choices{border:1px solid #5897fb;outline:none}.select2-dropdown-open .select2-choice{border-bottom-color:transparent;-webkit-border-bottom-left-radius:0;-moz-border-radius-bottomleft:0;border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0;-moz-border-radius-bottomright:0;border-bottom-right-radius:0;background-color:#eee;background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, #fff), color-stop(0.5, #eee));background-image:-webkit-linear-gradient(center bottom, #fff 0%, #eee 50%);background-image:-moz-linear-gradient(center bottom, #fff 0%, #eee 50%);background-image:-o-linear-gradient(bottom, #fff 0%, #eee 50%);background-image:-ms-linear-gradient(top, #fff 0%, #eee 50%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );background-image:linear-gradient(top, #ffffff 0%,#eeeeee 50%)}.select2-dropdown-open .select2-choice div{background:transparent;border-left:none;filter:none}.select2-dropdown-open .select2-choice div b{background-position:-18px 1px}.select2-results{max-height:200px;padding:0 0 0 4px;margin:4px 4px 4px 0;position:relative;overflow-x:hidden;overflow-y:auto;-webkit-tap-highlight-color:rgba(0,0,0,0)}.select2-results ul.select2-result-sub{margin:0}.select2-results ul.select2-result-sub>li .select2-result-label{padding-left:20px}.select2-results ul.select2-result-sub ul.select2-result-sub>li .select2-result-label{padding-left:40px}.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub>li .select2-result-label{padding-left:60px}.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub>li .select2-result-label{padding-left:80px}.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub>li .select2-result-label{padding-left:100px}.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub>li .select2-result-label{padding-left:110px}.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub>li .select2-result-label{padding-left:120px}.select2-results li{list-style:none;display:list-item;background-image:none}.select2-results li.select2-result-with-children>.select2-result-label{font-weight:bold}.select2-results .select2-result-label{padding:3px 7px 4px;margin:0;cursor:pointer;min-height:1em;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.select2-results .select2-highlighted{background:#3875d7;color:#fff}.select2-results li em{background:#feffde;font-style:normal}.select2-results .select2-highlighted em{background:transparent}.select2-results .select2-highlighted ul{background:#fff;color:#000}.select2-results .select2-no-results,.select2-results .select2-searching,.select2-results .select2-selection-limit{background:#f4f4f4;display:list-item}.select2-results .select2-disabled.select2-highlighted{color:#666;background:#f4f4f4;display:list-item;cursor:default}.select2-results .select2-disabled{background:#f4f4f4;display:list-item;cursor:default}.select2-results .select2-selected{display:none}.select2-more-results.select2-active{background:#f4f4f4 url(/assets/select2/select2-spinner-efec87a6e4d665ab02c27f9049095490.gif) no-repeat 100%}.select2-more-results{background:#f4f4f4;display:list-item}.select2-container.select2-container-disabled .select2-choice{background-color:#f4f4f4;background-image:none;border:1px solid #ddd;cursor:default}.select2-container.select2-container-disabled .select2-choice div{background-color:#f4f4f4;background-image:none;border-left:0}.select2-container.select2-container-disabled .select2-choice abbr{display:none}.select2-container-multi .select2-choices{height:auto !important;height:1%;margin:0;padding:0;position:relative;border:1px solid #aaa;cursor:text;overflow:hidden;background-color:#fff;background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eee), color-stop(15%, #fff));background-image:-webkit-linear-gradient(top, #eee 1%, #fff 15%);background-image:-moz-linear-gradient(top, #eee 1%, #fff 15%);background-image:-o-linear-gradient(top, #eee 1%, #fff 15%);background-image:-ms-linear-gradient(top, #eee 1%, #fff 15%);background-image:linear-gradient(top, #eeeeee 1%,#ffffff 15%)}.select2-locked{padding:3px 5px 3px 5px !important}.select2-container-multi .select2-choices{min-height:26px}.select2-container-multi.select2-container-active .select2-choices{border:1px solid #5897fb;outline:none}.select2-container-multi .select2-choices li{float:left;list-style:none}.select2-container-multi .select2-choices .select2-search-field{margin:0;padding:0;white-space:nowrap}.select2-container-multi .select2-choices .select2-search-field input{padding:5px;margin:1px 0;font-family:sans-serif;font-size:100%;color:#666;outline:0;border:0;background:transparent !important}.select2-container-multi .select2-choices .select2-search-field input.select2-active{background:#fff url(/assets/select2/select2-spinner-efec87a6e4d665ab02c27f9049095490.gif) no-repeat 100% !important}.select2-default{color:#999 !important}.select2-container-multi .select2-choices .select2-search-choice{padding:3px 5px 3px 18px;margin:3px 0 3px 5px;position:relative;line-height:13px;color:#333;cursor:default;border:1px solid #aaa;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:#e4e4e4;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f4f4f4', GradientType=0 );background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eee));background-image:-webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);background-image:-moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);background-image:-o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);background-image:-ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);background-image:linear-gradient(top, #f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#eeeeee 100%)}.select2-container-multi .select2-choices .select2-search-choice span{cursor:default}.select2-container-multi .select2-choices .select2-search-choice-focus{background:#d4d4d4}.select2-search-choice-close{display:block;width:12px;height:13px;position:absolute;right:3px;top:4px;font-size:1px;outline:none;background:url(/assets/select2/select2-dd52d2a9fb1c9fa4a36a773d90c1a549.png) right top no-repeat}.select2-container-multi .select2-search-choice-close{left:3px}.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover{background-position:right -11px}.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close{background-position:right -11px}.select2-container-multi.select2-container-disabled .select2-choices{background-color:#f4f4f4;background-image:none;border:1px solid #ddd;cursor:default}.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice{padding:3px 5px 3px 5px;border:1px solid #ddd;background-image:none;background-color:#f4f4f4}.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close{display:none}.select2-result-selectable .select2-match,.select2-result-unselectable .select2-match{text-decoration:underline}.select2-offscreen{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dppx){.select2-search input,.select2-search-choice-close,.select2-container .select2-choice abbr,.select2-container .select2-choice div b{background-image:url(/assets/select2/select2x2-3433af868bf93f068bda1dbe96a5c9de.png) !important;background-repeat:no-repeat !important;background-size:60px 40px !important}.select2-search input{background-position:100% -21px !important}}.lead-form h4{line-height:1.5em}.lead-form .lead-banner{margin-left:-30px;margin-bottom:30px;overflow:hidden}@media (max-width: 68.5714285714em){.lead-form .lead-banner{width:850px}}@media (max-width: 47.9285714286em){.lead-form .lead-banner{margin-left:0;width:465px}}@media (max-width: 34.2857142857em){.lead-form .lead-banner{width:300px}}.lead-form .lead-banner img{height:100%}.lead-form .lead-banner-text{z-index:100;position:absolute;color:#fff;top:100px;width:380px}.lead-form .lead-banner-text h2{color:#fff;font-size:28px;margin-bottom:30px}.lead-form .lead-banner-text h4{color:#fff;line-height:30px}@media (max-width: 47.9285714286em){.lead-form .lead-banner-text{top:50px;width:450px;padding:30px}}@media (max-width: 34.2857142857em){.lead-form .lead-banner-text{top:0;width:280px;padding:30px}.lead-form .lead-banner-text h4{line-height:24px}}.lead-form h2{color:#27a6e1}.lead-form .form-instructions{color:gray;border-bottom:1px solid #dbdbdb}.lead-form .help{color:gray;margin-bottom:20px}.lead-form .help-final{color:gray;margin-bottom:0px;margin-left:-3px}.lead-form .lead_large_contact{margin-bottom:20px}.lead-form .continue{float:right;margin-bottom:10%}.lead-form .underline{color:gray;padding-bottom:15px;border-bottom:1px solid #dbdbdb;margin-bottom:15px}.lead-form .article{margin-bottom:15px}.lead-form .js-contact-methods{margin-top:10px;margin-bottom:10px}.lead-form .signup{margin-left:10px;width:150px}.lead-form .lead-contact-methods{float:left}.lead-form .phone_sprite{width:37px;height:37px;background:url("lead_form/lead-form_sprite.png") 0 71px;vertical-align:center}.lead-form .email_sprite{width:37px;height:37px;background:url("lead_form/lead-form_sprite.png") 158px 71px;vertical-align:center}.lead-form .email_success_sprite{width:43px;height:37px;background:url("lead_form/lead-form_sprite.png") 315px 71px;vertical-align:center}.lead-form .icon-text{left:7px;top:7px;position:relative;line-height:200%}.lead-form .icon-text h4{color:#27a6e1}.lead-form .js-email-container{display:none}.lead-form .js-send-email-success h4{color:gray}.lead-form .email_options{float:right}.lead-form .default-hidden{display:none}.lead-form .video-thumbnail{max-width:150px}.lead-form .video-thumbnail a img{margin-top:15px}@media (max-width: 34.2857142857em){.lead-form .continue input{width:100%}}@media (max-width: 47.9285714286em){.lead-form .email_options,.lead-form .full-size-button input{width:100%}}.page-continue{display:none}.page{display:none}.uppercase input{text-transform:uppercase}.row{margin-bottom:15px}.row:last-child{margin-bottom:0}br.clear-both{clear:both}.clear-fix{clear:both}.step-ca_pii_v1 .step-image{display:block;width:291px;height:261px;margin:0 auto;background:url(/assets/activation/envelope-and-reader-cb04efe56051f36cfcf57338585280b3.png) no-repeat}
		.idv .main-content{background:#FFFFFF;min-height:320px;padding-bottom:0px}
		.idv .simple-footer{position:relative;text-align:center;color:#e8ebee}
		.idv .simple-footer .logo{padding:30px 0;font-size:1.7857142857em;color:#e8ebee}
		.idv .simple-footer .copyright{margin-bottom:1.5em}
		h1.bordered,h2.bordered{padding-bottom:5px;border-bottom:1px solid #cfd4d7;margin-bottom:20px}.field-input-wrap .field-label-hint{margin-left:7px}.ellipsis,.ellipsis label{text-overflow:ellipsis;white-space:nowrap;overflow:hidden}.activation h2{color:#8b8f94;font-weight:400}.activation .activation-instructions{float:right;margin-bottom:1.4285714286em;line-height:1.5714285714em}@media (min-width: 68.5714285714em){.activation .activation-instructions{margin-bottom:0;padding:0 1.5em}}.activation .activation-instructions-rejected{margin-bottom:1.4285714286em}.activation .activation-instructions-heading{font-size:0.8571428571em;text-transform:uppercase;font-weight:600;color:#8b8f94;letter-spacing:0.15em;line-height:inherit}.activation .activation-footer{border-top:1px solid #e8ebee;padding-top:20px;margin-bottom:100px}.activation .activation-footer .signup-button-field{float:right}.activation .activation-footer .signup-button-field input{width:100%}.activation .activation-footer .fine-print{text-align:center;line-height:18px}@media (min-width: 47.9285714286em){.activation .activation-footer .fine-print{text-align:right;min-height:32px}}.activation .activation-footer .button{width:100%;margin-bottom:20px;padding:0}@media (min-width: 35.2857142857em){.activation .activation-footer .button{width:auto;min-width:120px;margin-right:10px}}@media (min-width: 35.2857142857em){.activation .activation-footer .activation-footer-actions .fields{float:right}}@media (min-width: 35.2857142857em){.activation .activation-footer .continue-button-field .button{float:right;margin-left:10px;margin-right:0}}.activation .activation-footer .fine-print a{white-space:nowrap}.activation .credit-card-expiration input,.activation .credit-card-expiration label,.activation .credit-card-cvv input,.activation .credit-card-cvv label{text-align:center}@media (min-width: 47.9285714286em){.activation .credit-card-expiration,.activation .credit-card-cvv{width:50%}}.activation .credit-card-expiration .credit-card-exp-month{padding-right:5px}.activation .credit-card-expiration .credit-card-exp-year{padding-left:5px}.shuttle-field{float:left;white-space:nowrap}.nav{display:none}.get-app-button-field{margin-top:22px}@media (max-width: 47.9285714286em){.get-app-button-field{margin-top:0px}}.ship-to-address-selections .radio-block-input{position:absolute;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=1);opacity:0.01}.ship-to-address-selections .radio-block-title{font-weight:500;text-transform:uppercase;color:gray;font-size:12px;letter-spacing:0.1em}.ship-to-address-selections .radio-block-content{margin-right:5px}.ship-to-address-selections .radio-block{border:1px solid #dbdbdb;border-radius:3px;background:#fff;padding:10px;position:relative}.ship-to-address-selections .radio-block:after{content:"✓";position:absolute;top:10px;right:10px;color:#dbdbdb;font-size:1.7142857143em;font-weight:700}.ship-to-address-selections .radio-block-input:checked+label .radio-block{border-color:#00bbe0}.ship-to-address-selections .radio-block-input:checked+label .radio-block:after{color:#00bbe0}.ship-to-address-selections .radio-block-input:checked+label .radio-block-title{color:#27a6e1}.ship-to-address-selections .radio-block-label{font-weight:400;cursor:pointer}.ship-to-address-selections .radio-block-hint{padding:10px;font-size:12px;color:gray}.us-need-reader{margin-bottom:50px}.us-need-reader .checked .checkbox-icon{border:none !important}.us-need-reader .checked .address-display{color:#3197ca}.us-need-reader .checkbox-image{display:none}.us-need-reader .checkbox-desc{padding:14px 14px 0 14px}.us-need-reader .checkbox-desc p{margin-top:26px}.us-need-reader .checkbox-button h4{font-weight:lighter;margin-top:5px}.us-need-reader .address-display{padding:0 14px 14px 14px;box-sizing:border-box}.us-need-reader .address-display div{word-break:break-word}@media (max-width: 47.9285714286em){.us-need-reader .address-display{margin-top:-18px}}.us-need-reader .reader-icon .address-display div:last-child{max-width:70%}.ship-to-custom-address{margin-top:40px;border-top:1px solid #dbdbdb;padding-top:30px}.lightbox{display:none;position:fixed;top:0;bottom:0;left:0;right:0}.lightbox .curtain{background:rgba(255,255,255,0.8);position:fixed;top:0;bottom:0;left:0;right:0}.lightbox .inner{position:relative;text-align:center;margin-top:20%}.close-footer{display:none;text-align:center;margin-top:20px}.closable .close-footer{display:block}.reminders-list li{margin-bottom:1.4285714286em}.no-padding{padding:0}.country-US .select2-result-unselectable{display:none}.country-US .us-address-line-1{width:75%}.country-US .us-city-state-zip>.field{margin-top:10px}.country-US .us-city-state-zip .fade-label .field-input-wrap{position:relative;margin-left:-1px;margin-right:-1px}.country-US .us-city-state-zip .fade-label input{width:100%;position:absolute;top:0;left:0}.country-US .us-birthdate,.country-US .us-birthmonth{width:30.72222%}.country-US .us-birthyear{width:38.55556%}.country-US .select2-results{max-height:750px}.country-US .postal-code-description{color:#cfd4d7;line-height:20px}@media (min-width: 34.2857142857em){.country-US .postal-code-description{white-space:nowrap;line-height:2.8571428571em}}.country-US .address-fields .field{margin-bottom:0}.country-US .address-fields .block-input-group-4{margin-bottom:0}@media (min-width: 34.2857142857em){.country-US .birthday-fields .fade-label{margin-top:19px}}.country-US .us-account-name .change-account{display:none}.country-US .us-account-name.disabled{position:relative}.country-US .us-account-name.disabled input{background:transparent;padding-right:70px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}.country-US .us-account-name.disabled .change-account{display:inline;position:absolute;top:28px;right:20px;font-weight:normal;font-size:14px;color:#3197ca;display:block}@media (min-width: 68.5714285714em){.business-help-1{margin-top:-20px}.business-help-2{margin-top:17px}.business-help-3{margin-top:45px}.help-home-address{margin-top:50px}.help-ssn{margin-top:55px}.business-info-footer{margin-top:55px}}@media (min-width: 47.9285714286em){#us_business_information .checkbox-button{min-height:230px}}.checkbox-image-mobile_use,.checkbox-image-in_store_use,.checkbox-image-online_use{background-size:cover;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);opacity:0.8}.checkbox-button:hover .checkbox-image-mobile_use,.checked .checkbox-image-mobile_use,.checkbox-button:hover .checkbox-image-in_store_use,.checked .checkbox-image-in_store_use,.checkbox-button:hover .checkbox-image-online_use,.checked .checkbox-image-online_use{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity:1}.checkbox-image-mobile_use{background-image:url(/assets/activation/usage/ways_onthego_off-cf3b41af1927a1aa34e23efe45e4aebf.png)}.checked .checkbox-image-mobile_use{background-image:url(/assets/activation/usage/ways_onthego_on-44150c83d6471bc60f2cd569f856c5af.png)}.checkbox-image-in_store_use{background-image:url(/assets/activation/usage/ways_instore_off-e943599df1984686642d4dae3a13bf4e.png)}.checked .checkbox-image-in_store_use{background-image:url(/assets/activation/usage/ways_instore_on-5e03ad3a70a64a658a9af7457d15968e.png)}.checkbox-image-online_use{background-image:url(/assets/activation/usage/ways_online_off-2f0b5920be0ea5a7c28d82b64a455f4c.png)}.checked .checkbox-image-online_use{background-image:url(/assets/activation/usage/ways_online_on-909308102fb1cd0667327989da8a4fa3.png)}.load-mobile-use{background-image:url(/assets/activation/usage/ways_onthego_on-44150c83d6471bc60f2cd569f856c5af.png)}.load-online-use{background-image:url(/assets/activation/usage/ways_online_on-909308102fb1cd0667327989da8a4fa3.png)}.load-instore-use{background-image:url(/assets/activation/usage/ways_instore_on-5e03ad3a70a64a658a9af7457d15968e.png)}.offscreen{position:absolute;top:-100000px;left:-100000px}.country-CA .activation-footer{overflow:hidden}.country-CA .date-field .date-component{display:inline-block}.country-CA .date-field .date-day{width:30%;padding-right:5px}.country-CA .date-field .date-month{width:40%;padding-right:5px}.country-CA .date-field .date-year{width:30%}.country-CA .step-sub-title{text-align:center;font-size:1.4285714286em;font-weight:400}.country-CA .step-image{margin:20px auto}.country-CA .shipping_information{margin-top:20px}.country-CA .ca-gst-field{clear:left}.step-ca_pii_v1 .step-image{margin:20px auto}.country-JP .date-field .date-component{display:inline-block}.country-JP .date-field .date-year{width:40%;padding-right:5px}.country-JP .date-field .date-month{width:30%;padding-right:5px}.country-JP .date-field .date-day{width:30%}@media (min-width: 47.9285714286em){.country-JP .activation .activation-footer .fine-print{text-align:left}}.country-AU .business-confirmation-field label{font-weight:bold !important}.country-AU .business-confirmation-field .checkbox-button-small{margin-top:0}.checked .address-display{color:#3197ca}.select2-container{width:100%}.select2-container .select2-choice{box-sizing:border-box;position:absolute;top:0;left:0;bottom:0;right:0;height:auto;padding:0.6428571429em 0.8571428571em;background:#fff;font-size:1em}.select2-container .select2-choice div b{background-position:0 9px}.select2-container .select2-choice span{margin-right:10px}.select2-drop,.select2-container-active .select2-choice,.select2-container-active .select2-choices,.select2-container-multi.select2-container-active .select2-choices{border-color:#00bbe0}.select2-result-selectable .select2-match,.select2-result-unselectable .select2-match{text-decoration:none;font-weight:700}.postal-code-field,.prefecture-field,.city-field,.town-field,.widely_used_name-field,.building_name-field{clear:left}.field-title{margin-bottom:7px;font-weight:500}.radio-field label{font-weight:normal}.radio-button-group,.radio-button-group-title{margin-bottom:10px}.js-postal-code.postal-code-field{position:relative}.js-postal-code.postal-code-field .jp-postal-code-prefix:before{content:"〒";position:absolute;z-index:2;color:#162633;border-top:1px solid transparent;height:2.8571428571em;padding:0.6428571429em 0 0.6428571429em 0.8571428571em;font-size:1em}.js-postal-code.postal-code-field .jp-postal-code-prefix label,.js-postal-code.postal-code-field .jp-postal-code-prefix input{padding-left:2.5714285714em}.simple-receipt{min-height:0 !important;padding:0 !important;background:none !important}.get-app-button,.link-quickbooks-button{min-width:24ex}@media (max-width: 47.9285714286em){.get-app-button,.link-quickbooks-button{width:100%}}.bank-branch-field .spinner-active{padding:20px 0 17px}.account-type-field{clear:left}.delegate-merchant-heading strong{display:block}.delegate-merchant-logo{float:left;margin-right:20px;width:102px;height:102px;border:1px solid #cfd4d7}@media (max-width: 47.9285714286em){.delegate-merchant-logo{display:none}}.delegate-assistance{border-top:1px solid #cfd4d7}.delegate-assistance-item{padding:3em 0 0}@media (min-width: 34.2857142857em){.delegate-assistance-item{padding:3em 3em 0}}@media (min-width: 47.9285714286em){.delegate-assistance-item{padding-top:5em}}.delegate-assistance-item i{display:block;margin:0 0 2em}.delegate-assistance-item h5{text-transform:uppercase}.delegate-icon{min-height:56px}.delegate-sprite,.delegate-help,.delegate-location,.delegate-reader{background:url(/assets/sprites/delegate-s9d0f77c48d-a558a3f99487af0bfc754b882aed7c2c.png) no-repeat}.delegate-help{background-position:0 -130px;height:49px;width:49px}.delegate-location{background-position:0 -66px;height:54px;width:37px}.delegate-reader{background-position:0 0;height:56px;width:56px}.nowrap{white-space:nowrap}.section-title{margin-bottom:76px;padding-left:88px;position:relative}@media only screen and (max-width: 34.2857142857em){.section-title{padding-left:0}.section-title .section-icon{display:none}}.section-title>h2{margin:0;position:relative;top:15px}.section-icon{width:70px;height:70px;position:absolute;top:0;left:0}.xp-partner-title-section{margin-bottom:30px}.xp-partner-image{margin:0 auto 15px auto;max-width:385px;height:66px;background-image:url(/assets/partners/quickbooks_square-2bbe86c9b9dd2f20c36c2f6c51e7ef23.png);background-size:100%;background-repeat:no-repeat}@media (max-width: 34.2857142857em){.xp-partner-image{height:47px}}.form-title{margin-bottom:14px}.form-border,.form-border-collapsed{padding-left:0;padding-right:0;border-top:1px solid #cfd4d7;padding-top:32px}@media (max-width: 68.5714285714em){.form-border,.form-border-collapsed{padding-top:1.4285714286em}}.form-border-collapsed{padding-top:18px}.quiz-question{margin-bottom:70px}.about-square{padding-top:80px}.about-square .field-title{padding-bottom:0px;margin-bottom:0px;color:gray}.row-border{margin-left:-0.42857em;margin-right:-0.42857em;border-top:1px solid #cfd4d7;padding-top:25px;padding-bottom:25px}@media (max-width: 68.5714285714em){.business-sub-category-collapsed-title label{display:none}}.quiz-questions .activation-instructions{margin-top:-1px}.quiz-questions .field-title{padding-bottom:18px;margin-bottom:18px;border-bottom:1px solid #cfd4d7}.quiz-questions .header-title{margin-bottom:0}.quiz-questions .header-question{margin-top:18px}.quiz-questions input[type="radio"]{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0;position:absolute;top:0;left:0;width:100%;height:100%}.quiz-questions label.radio{margin-bottom:8px;position:relative;display:block}.quiz-questions label.radio:before{content:"";display:inline-block}.quiz-questions label.radio span{position:relative;top:-10px;left:10px}.form-section{margin-bottom:45px}.welcome-banner{text-align:center;background:#3197ca;padding-top:32px;padding-bottom:32px}.welcome-banner .content{max-width:570px;padding:0 20px}.welcome-banner .content>h2,.welcome-banner .content>h3,.welcome-banner .about-square .content>.field-title,.about-square .welcome-banner .content>.field-title,.welcome-banner .quiz-questions .content>.field-title,.quiz-questions .welcome-banner .content>.field-title{color:#fff;text-shadow:none}.welcome-banner .content>h1,.welcome-banner .content>h4{width:505px;max-width:100%;text-shadow:none;margin:auto}.welcome-banner .content>h1{color:#fff;margin-bottom:22px;font-size:42px}.welcome-banner .content>h4{font-size:21px;line-height:28px}.banner{background:#fff;margin-top:25px;margin-bottom:25px;padding:10px}@media (min-width: 47.9285714286em){.banner{text-align:left;padding:25px}}.banner-button{text-align:center;height:70px}@media (min-width: 47.9285714286em){.banner-button{height:119px}}.banner-text{margin:15px 0 0 0;color:#9da0a4;text-align:center;font-size:1.5em}@media (min-width: 47.9285714286em){.banner-text{text-align:left;font-size:2em}}@media (min-width: 68.5714285714em){.banner-text{margin-left:-40px}}#idv-modal-view .title,#idv-modal .title{margin-top:40px;font-size:22px;font-weight:lighter}#fine-prints.show-fine-print-US .fine-print-CA,#fine-prints.show-fine-print-US .fine-print-JP{display:none}#fine-prints.show-fine-print-CA .fine-print-US,#fine-prints.show-fine-print-CA .fine-print-JP{display:none}#fine-prints.show-fine-print-JP .fine-print-US,#fine-prints.show-fine-print-JP .fine-print-CA{display:none}.swipe-image{background:url(/assets/swipe-4b560bf19a4f9df2a3e73daad7040a3c.jpg);width:624px;height:270px;margin-bottom:20px;margin-top:10px}.horizontally-centered{margin-left:auto;margin-right:auto;text-align:center}.dashboard-preview{background:url(/assets/dashboard/dash_US-EN-16de49492ddd97352d9b33da5c6406c8.png);width:306px;height:180px}@media hidpi_quoted{.dashboard-preview{background:url(/assets/dashboard/dash_US-EN@2x-fd7a2f6fe20138425d28c50cefbd1b5b.png)}}@media only screen and (max-width: 47.9285714286em){.dashboard-preview{display:none}}.animate-init{display:none;width:0;-webkit-transition:width 1s;-moz-transition:width 1s;-o-transition:width 1s;transition:width 1s}.animate-ready{display:block}.animate-show{display:block;width:100%}@media (min-width: 47.9285714286em){.grid-1-3 .animate-show{width:33.33333%}}@media (min-width: 47.9285714286em){.grid-1-4 .animate-show{width:25%}.grid-1-4 .animate-show.max-col-span-2{width:50%}}@media (min-width: 47.9285714286em){.grid-1-2-4 .animate-show{width:50%}.grid-1-2-4 .animate-show.max-col-span-2{width:100%}}@media (min-width: 68.5714285714em){.grid-1-2-4 .animate-show{width:25%}.grid-1-2-4 .animate-show.max-col-span-2{width:50%}}.postal-code-description{height:2.8571428571em;line-height:2.8571428571em;padding:0;margin-left:5px;color:#bbbfc1}@media (max-width: 34.2857142857em){.postal-code-description{margin-left:0;text-align:center}}.input-with-spinner-field{position:relative}.inline-spinner{position:absolute;right:5px;bottom:5px;z-index:1;display:none}.inline-spinner-active{display:inline-block}.phone_support_toggle{display:block;cursor:pointer;position:absolute;top:9px;right:0;min-height:38px;padding-left:43px;padding-top:5px;background:url("phone_support/idv_phone.png") 0 50% no-repeat;color:#b2b2b2;font-size:12px;line-height:15px;font-weight:500}.phone_support_toggle:hover{text-decoration:none}.phone_support_toggle .call_to_action{color:#27a6e1}.phone_support_container{padding:0;padding-bottom:40px;background:#1f2224 url("phone_support/idv_pattern.png") 0 0;overflow:hidden;color:#ccc}.phone_support_container.nojs{position:absolute;visibility:none;left:-999px}.phone_support_container .headline{padding-right:36px}.phone_support_container .content{position:relative}.phone_support_container h2,.phone_support_container strong{color:#fff;text-shadow:none}.phone_support_container h5{color:#ccc;text-transform:uppercase}.phone_support_container .callout{padding:10px 20px;font-weight:500;background:#525a5e;margin:20px 0;color:#fff}.phone_support_container .expiry{text-transform:none;padding-left:1em}.phone_support_container .phone_number,.phone_support_container .token{font-size:2em;line-height:1.5em;margin-bottom:0.3214285714em;font-weight:300;color:#27a6e1;text-shadow:none}.phone_support_container .close_button{font-size:36px;position:absolute;top:55px;right:0;cursor:pointer;color:#fff}.phone_support_container .grid-1-2-3{margin-bottom:0}.phone_support_container .grid-1-2-3 .cell{margin-bottom:15px}@media (min-width: 68.5714285714em){.phone_support_container .grid-1-2-3 .passcode-column{width:66.6666666667%}}select.country-selector{background-position-x:5px;background-position-y:10px;background-size:30px 20px;background-color:#fff;padding:10px 40px 8px}.country-CA select.country-selector{background-image:url("flags/ca.svg")}.country-JP select.country-selector{background-image:url("flags/jp.svg")}.country-US select.country-selector{background-image:url("flags/us.svg")}.logo-icon,.section-icon,.retail-icons{background:url(/assets/sprites/signup_sprite_general-3f3dd20b710888b4b6272ef555ed4203.png)}@media hidpi_quoted{.logo-icon,.section-icon,.retail-icons{background-size:420px 365px}}.section-icon{width:68px;height:68px}.section-icon-bust{background-position:-1px -1px}@media hidpi_quoted{.section-icon-bust{background-position:-1px -36px}}.section-icon-store{background-position:-141px -1px}@media hidpi_quoted{.section-icon-store{background-position:-71px -36px}}.section-icon-card{background-position:-281px -1px}@media hidpi_quoted{.section-icon-card{background-position:-141px -36px}}.section-icon-reader{background-position:-421px -1px}@media hidpi_quoted{.section-icon-reader{background-position:-211px -36px}}.section-icon-bank{background-position:-561px -1px}@media hidpi_quoted{.section-icon-bank{background-position:-281px -36px}}.section-icon-download{background-position:-701px -1px}@media hidpi_quoted{.section-icon-download{background-position:-351px -36px}}.section-icon-mail{background-position:-841px -1px}@media hidpi_quoted{.section-icon-mail{background-position:-421px -36px}}.section-icon-check{background-position:-981px -1px}@media hidpi_quoted{.section-icon-check{background-position:-491px -36px}}.section-icon-error{background-position:-1121px -1px}@media hidpi_quoted{.section-icon-error{background-position:-561px -36px}}.retail-icons{width:294px;height:38px;background-position:0 -610px}@media hidpi_quoted{.retail-icons{background-position:0 -325px}}@media (min-width: 47.9285714286em){.us-need-reader .reader-icon.checked:after{background:url(/assets/sprites/signup_sprite_general-3f3dd20b710888b4b6272ef555ed4203.png);content:"";display:inline-block;position:absolute;right:-25px;bottom:-80px;width:144px;height:190px;background-position:-8px -215px}}@media hidpi_quoted and (min-width: 47.9285714286em){.us-need-reader .reader-icon.checked:after{background-position:-77px -110px;background-size:420px 365px}}.bank-account-check{background:url(/assets/sprites/signup_sprite_check-243f2167e0aa3ae22e1bd0432639f0ea.png);width:624px;height:123px;background-position:0 0;margin:20px 1px}@media (max-width: 47.9285714286em){.bank-account-check{display:none}}@media hidpi_quoted{.bank-account-check{background-position:0 -75px}}.bank-account-check.routing-highlighted{background-position:0 -450px}@media hidpi_quoted{.bank-account-check.routing-highlighted{background-position:0 -300px}}.bank-account-check.account-highlighted{background-position:0 -900px}@media hidpi_quoted{.bank-account-check.account-highlighted{background-position:0 -525px}}@media hidpi_quoted{.bank-account-check{background-size:624px 675px}}.free-card-reader,.free-online-store,.free-pos-app,.simple-pricing{background:url(/assets/sprites/signup_sprite_referral-2b3c74ec5a9d320be75076b5fed763a8.png);margin-bottom:15px;width:50px;height:50px}.free-card-reader{background-position:-450px 0px}.free-online-store{background-position:-650px 0px}.free-pos-app{background-position:-550px 0px}.simple-pricing{background-position:-750px 0px}.credit-card-icons{background:url(/assets/sprites/signup_sprite_referral-2b3c74ec5a9d320be75076b5fed763a8.png);width:225px;height:33px}@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dppx){.free-card-reader,.free-online-store,.free-pos-app,.simple-pricing{background:url(/assets/sprites/signup_sprite_referral-2b3c74ec5a9d320be75076b5fed763a8.png);margin-bottom:15px;width:100px;height:100px}.free-card-reader{background-position:-450px -50px}.free-online-store{background-position:-650px -50px}.free-pos-app{background-position:-550px -50px}.simple-pricing{background-position:-750px -50px}.credit-card-icons{background:url(/assets/sprites/signup_sprite_referral-2b3c74ec5a9d320be75076b5fed763a8.png);background-position:0px -33px;width:450px;height:66px}}@-webkit-keyframes spin{0%{-webkit-transform:rotateZ(0);-ms-transform:rotateZ(0);-moz-transform:rotateZ(0);-o-transform:rotateZ(0);transform:rotateZ(0)}100%{-webkit-transform:rotateZ(360deg);-ms-transform:rotateZ(360deg);-moz-transform:rotateZ(360deg);-o-transform:rotateZ(360deg);transform:rotateZ(360deg)}}@-moz-keyframes spin{0%{-webkit-transform:rotateZ(0);-ms-transform:rotateZ(0);-moz-transform:rotateZ(0);-o-transform:rotateZ(0);transform:rotateZ(0)}100%{-webkit-transform:rotateZ(360deg);-ms-transform:rotateZ(360deg);-moz-transform:rotateZ(360deg);-o-transform:rotateZ(360deg);transform:rotateZ(360deg)}}@-ms-keyframes spin{0%{-webkit-transform:rotateZ(0);-ms-transform:rotateZ(0);-moz-transform:rotateZ(0);-o-transform:rotateZ(0);transform:rotateZ(0)}100%{-webkit-transform:rotateZ(360deg);-ms-transform:rotateZ(360deg);-moz-transform:rotateZ(360deg);-o-transform:rotateZ(360deg);transform:rotateZ(360deg)}}@keyframes spin{0%{-webkit-transform:rotateZ(0);-ms-transform:rotateZ(0);-moz-transform:rotateZ(0);-o-transform:rotateZ(0);transform:rotateZ(0)}100%{-webkit-transform:rotateZ(360deg);-ms-transform:rotateZ(360deg);-moz-transform:rotateZ(360deg);-o-transform:rotateZ(360deg);transform:rotateZ(360deg)}}.spinner{-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.loading-spinner-wrap{margin:auto}.loading-spinner{background:url(/assets/activation/loading-b8f0d51e724bd07f0222e2beec24d80f.png);background-size:100% 100%;width:100%;height:100%;-webkit-animation:spin 550ms linear infinite;-ms-animation:spin 550ms linear infinite;-moz-animation:spin 550ms linear infinite;-o-animation:spin 550ms linear infinite;animation:spin 550ms linear infinite}.loading-spinner-prefetch{position:absolute;top:-100000px;left:-100000px;background:url(/assets/activation/loading-b8f0d51e724bd07f0222e2beec24d80f.png)}.lang-es label::wrap{background:lime}@media (min-width: 47.9285714286em){.lang-es #us_business_information .checkbox-button{min-height:270px;width:199px}}.lang-es .align-bottom{display:table}@media (min-width: 47.9285714286em){.lang-es .align-bottom{min-height:38px}}.lang-es .align-bottom>*{display:table-cell;vertical-align:bottom}.lang-es .bank-account-check{background-image:url("sprites/signup_sprite_check_USES.png")}
		input[type="text"],input[type="password"],input[type="email"],input[type="search"],input[type="url"],input[type="tel"],input[type="number"],input[type="date"],input[type="month"],input[type="week"],input[type="time"],input[type="range"],input[type="color"],select,textarea{
			display:block;
			width:100%;
			height:40px;
			min-height:40px;
			padding:0 9px;
			margin:0;
			line-height:22px;
			font-size:14px;
			border:1px solid #dfdfdf;
			border-radius:10px;
			outline:none;
			background:#fff;color:#5f6a7d}
			input[type="text"]:active,input[type="text"]:focus,input[type="password"]:active,input[type="password"]:focus,input[type="email"]:active,input[type="email"]:focus,input[type="search"]:active,input[type="search"]:focus,input[type="url"]:active,input[type="url"]:focus,input[type="tel"]:active,input[type="tel"]:focus,input[type="number"]:active,input[type="number"]:focus,input[type="date"]:active,input[type="date"]:focus,input[type="month"]:active,input[type="month"]:focus,input[type="week"]:active,input[type="week"]:focus,input[type="time"]:active,input[type="time"]:focus,input[type="range"]:active,input[type="range"]:focus,input[type="color"]:active,input[type="color"]:focus,select:active,select:focus,textarea:active,textarea:focus{background-color:#f4fafd;border-color:#00ccff;color:#2186b8}
			input[type="checkbox"],input[type="radio"]{display:block;padding:0 9px;margin:0;line-height:22px;font-size:14px;border:1px solid #dfdfdf;border-radius:10px;outline:none;background:#fff;color:#5f6a7d}
			
			input[type="checkbox"]:active,input[type="checkbox"]:focus,input[type="radio"]:active,input[type="radio"]:focus{background-color:#f4fafd;border-color:#2186b8;color:#2186b8;outline:1px dotted #dfdfdf}input[type="checkbox"],input[type="radio"]{display:inline;margin-right:6px;margin-left:3px}
			
			select{
				background:url(drop.png) no-repeat right,#fff;
				box-sizing:border-box;border-radius:10px;
				border:1px solid #d9dbdc;
				-webkit-appearance:none;
				-ms-appearance:none;
				-moz-appearance:none;
				-o-appearance:none;
				appearance:none;
				padding:10px 9px 8px}
				
				select[disabled='disabled']{background:url(drop.png) no-repeat right,transparent;color:#bbbfc1}.select-unselected{color:#bbbfc1}.empty-label input{margin-top:16px}label.radio{margin-right:16px}label.radio:last-child{margin-right:0}input[type="button"],input[type="submit"],input[type="reset"],button,a.button{display:inline-block;height:40px;min-width:200px;max-width:100%;padding:0 40px;margin-bottom:22px;border:0;border-radius:3px;color:#fff;font-family:"Square Market","HelveticaNeue",Helvetica,Arial,sans-serif;font-size:11px;font-weight:bold;letter-spacing:1px;line-height:40px;text-decoration:none;text-transform:uppercase;text-align:center;background-color:#00ccff;background-image:linear-gradient(#00ccff,#2186b8)}input[type="button"]:hover,input[type="submit"]:hover,input[type="reset"]:hover,button:hover,a.button:hover,input[type="button"]:focus,input[type="submit"]:focus,input[type="reset"]:focus,button:focus,a.button:focus{color:#fff;background-image:linear-gradient(#00ccff,#2892c6)}input[type="button"]:active,input[type="submit"]:active,input[type="reset"]:active,button:active,a.button:active{background-image:linear-gradient(#00ccff,#2186b8)}input[type="button"] span,input[type="submit"] span,input[type="reset"] span,button span,a.button span{position:relative;top:1px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;display:block}input.button-secondary[type="button"],input.button-secondary[type="submit"],input.button-secondary[type="reset"],button.button-secondary,a.button-secondary.button{background:#fff;color:#00ccff}input.button-secondary[type="button"]:hover,input.button-secondary[type="submit"]:hover,input.button-secondary[type="reset"]:hover,button.button-secondary:hover,a.button-secondary.button:hover,input.button-secondary[type="button"]:focus,input.button-secondary[type="submit"]:focus,input.button-secondary[type="reset"]:focus,button.button-secondary:focus,a.button-secondary.button:focus{background:#fdfdfd;color:#00ccff}input[disabled][type="button"],input[disabled][type="submit"],input[disabled][type="reset"],button[disabled],a[disabled].button{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);opacity:0.5}input[disabled][type="button"]:hover,input[disabled][type="submit"]:hover,input[disabled][type="reset"]:hover,button[disabled]:hover,a[disabled].button:hover,input[disabled][type="button"]:active,input[disabled][type="submit"]:active,input[disabled][type="reset"]:active,button[disabled]:active,a[disabled].button:active{background:#00ccff}p.signup-text-non-mobile{padding-left:15px}@media (max-width: 47.9285714286em){p.signup-text-non-mobile{display:none}}.csstransitions .fadeIn{opacity:0;-webkit-transform:translate3d(0, -10px, 0);-moz-transform:translate3d(0, -10px, 0);-ms-transform:translate3d(0, -10px, 0);-o-transform:translate3d(0, -10px, 0);transform:translate3d(0, -10px, 0);transition:all 300ms}.csstransitions .fadeIn:nth-of-type(2){transition:all 300ms 300ms}.csstransitions .fadeIn:nth-of-type(3){transition:all 300ms 600ms}.csstransitions .fadeIn:nth-of-type(4){transition:all 300ms 900ms}.csstransitions.show-time .fadeIn{opacity:1;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}.list{margin-left:10px}h2{color:#8b8f94}.progress-past,.progress-present,.progress-future{text-transform:uppercase;text-overflow:nowrap;white-space:pre-wrap}li.progress-past{list-style-image:url(form/light-check.svg)}li.progress-present{color:#27a6e1}.progress-past h5,.progress-future h5{color:gray}.progress-present h5{color:#27a6e1}ol.progress-bar{list-style:decimal inside;margin-left:-15px}ol.progress-bar span.chevron,ol.progress-bar span.ghetto-list-counter,ol.progress-bar span.ghetto-list-checkbox{display:none}@media (min-width: 47.9285714286em){ol.progress-bar span.chevron,ol.progress-bar li,ol.progress-bar h5,ol.progress-bar span.ghetto-list-counter,ol.progress-bar span.ghetto-list-checkbox{display:inline}ol.progress-bar span.ghetto-list-checkbox{margin:0px 5px 0px 5px}ol.progress-bar span.chevron{margin:0px 10px 0px 10px}}.secure-icon{position:relative;padding:10px 10px 10px 46px;background-color:#f4fafd;border:1px solid #2186b8;border-radius:2px}.secure-icon:before{content:" ";display:block;position:absolute;top:0;left:4px;bottom:0;width:40px;min-height:40px;background:transparent url(/assets/form/icon/lock-f909ce1c5d6d46249de95fab09c57f51.svg) 50% 7px no-repeat}.simple-nav-background{background-color:#f6f6f6;height:44px}@media (min-width: 47.9285714286em){.simple-nav-background{height:60px}}.simple-nav-banner{height:44px;width:100%;left:0;top:0;position:fixed;z-index:2;background-color:rgba(255,255,255,0.95)}@media (min-width: 47.9285714286em){.simple-nav-banner{height:60px}}@media (min-width: 1292px){.simple-nav-banner{max-width:1292px;left:50%;margin-left:-646px}.full-bleed .simple-nav-banner{max-width:100%;left:0;margin-left:0}}.simple-nav-banner .content{height:100%;position:relative}@media (min-width: 47.9285714286em){.simple-nav-banner .content{text-align:justify}.simple-nav-banner .content:after{content:"";display:inline-block;width:100%}}.simple-nav-banner .actions{display:inline-block}@media (min-width: 47.9285714286em){.simple-nav-banner .actions .sales-link{display:none}}.simple-nav-banner .destinations{display:none}@media (min-width: 47.9285714286em){.simple-nav-banner .destinations{display:inline-block}}.simple-nav-banner a{color:#5f6a7d;white-space:nowrap;display:inline-block;position:relative;top:4px;padding:10px 0;letter-spacing:1px;font-size:11px;font-weight:500;text-transform:uppercase;z-index:2;-webkit-font-smoothing:antialiased}.simple-nav-banner a:not(:last-child):not(.logo){margin-right:20px}@media (min-width: 47.9285714286em){.simple-nav-banner a{top:12px}}.simple-nav-banner a:hover,.simple-nav-banner a:active{color:#000}.simple-nav-banner .logo{padding:0;position:absolute;right:0;top:11px;width:22px;height:22px}.simple-nav-banner .logo span,.simple-nav-banner .logo svg title,.simple-nav-banner .logo svg desc{display:block;font-size:0;overflow:hidden;padding-left:101%}@media (min-width: 47.9285714286em){.simple-nav-banner .logo{top:13px;width:33px;height:33px;right:50%;margin-right:-16.5px}}.simple-nav-banner .logo-svg{width:100%;height:100%}.simple-nav-banner .logo-svg path{fill:#2e3b4e}
				.simple-nav-footer{text-align:center;background-color:#00ccff}.simple-nav-footer a{color:#fff;display:inline-block;margin:0 10px}
				.simple body{max-width:1296px;margin:auto}
				html.simple{background-color:#000;background-color-background-color:#e8ebee}
