@charset "UTF-8";
/* === Basic reset === */
* { margin: 0; padding: 0; outline: none; box-sizing:border-box; }
a>img { border: none; }
header, footer, article, section, nav, aside { display: block; }

span#finish-footer {
	margin-bottom: 1.6666666667em;
	line-height: 1.6666666667em;
	font-size: 1em;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
	line-height: 18px;
    display: table-cell;
	vertical-align: middle;
}

@media (min-width: 47.9285714286em) {
span#finish-footer {
	text-align: center;
	min-height: 32px;
}
}

.clearfix {
    clear:both;
}
/* === Credit Card === */
.credit-card {
    display:block;
    position:relative;
	padding-right:20px;
    max-width:600px;    /* Just to make sure that it doesnt get crazy on bg screens */
    min-width:300px;    /* And make sure that it contains at least some size */
    z-index:1;
}

.credit-card .inputs {
    list-style:none;
    margin-top:30px;
}

.credit-card .inputs li {
    margin-bottom:30px;
}

.credit-card .inputs li.last {
    margin-bottom:10px;
}

.credit-card .inputs li.expire {
    float:left;
    width:75%;
    margin-right:5%;
}

.credit-card .inputs li.expire input{
    float:left;
    width:45%;
}

.credit-card .inputs li.expire input.year{
    width:50%;
    margin-right:5%;
}

.credit-card .inputs li.cvc-code {
    float:left;
    width:20%;
}

.credit-card .inputs li.cvc-code input {
}

.credit-card form {
    position:relative;
    z-index:50;
}

.col-middle {
    vertical-align:middle;
}

/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
	margin-bottom:-10px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}

.containerR {
    width:99%;
}
[class*="col-"] {
    padding-top:10px;
    padding-bottom:15px;
}
[class*="col-"]:before {
    display:block;
  position:relative;
    margin-bottom:8px;
    text-align:left;
}
.item {
    width:100%;
    height:100%;
    padding:16px 8px;
}

/* content styles */
.item {
	display:table;
}

.row-height-custom {
	height:45px;
}

.shipping {
    display:block;
    position:relative;
    width:93.75%;   /* This is 300px on 320px wide screen */
    max-width:600px;    /* Just to make sure that it doesnt get crazy on bg screens */
    min-width:300px;    /* And make sure that it contains at least some size */
    z-index:1;
}

.shipping .inputs {
    list-style:none;
	float:left;
    margin-top:10px;
}

.shipping .inputs li {
	text-align:left;
	padding-left:20px;
}

.orders {
	display:block;
	margin-top:40px;
	margin-bottom:40px;
	padding-left:30px;
	padding-right:30px;
border-top: 1px solid #e8ebee;
border-bottom: 1px solid #e8ebee;
}

.orders ul {
	list-style-type:none;
	padding: 0;
margin: 0;
}

.orders li {
	width:100%;
	clear:both;
}

label.radio {  
    display: inline-block;  
    cursor: pointer;  
    margin-top: 7px;
    position: relative;  
    padding-left: 25px;  
    margin-right: 15px; 
	font-weight:300 !important;
}  

label.radio:before {  
    content: "";  
    display: inline-block;  
    width: 16px;  
    height: 16px;  
    margin-right: 10px;  
    position: absolute;  
    left: 0;  
    bottombottom: 1px;  
    background-color: #aaa;    
	border-radius: 8px;
} 

input[type=radio]:checked + label:before {  
/*    content: "\2022";  
    color: #00ccff;  
    font-size: 24px;  
    text-align: center;  
    line-height: 16px;  */
	background-color: #00ccff;
}  
input[type="radio"] {
    display:none !important;
}
/*
input[type="checkbox"], input[type="radio"] {
	display: block;
	padding: 0 9px;
	margin: 0;
	line-height: 22px;
	font-size: 14px;
	border: 1px solid #dfdfdf;
	border-radius: 10px;
	outline: none;
	background: #fff;
	color: #5f6a7d;
}
input[type="checkbox"]:active, input[type="checkbox"]:focus, input[type="radio"]:active, input[type="radio"]:focus {
	background-color: #f4fafd;
	border-color: #00ccff;
	color: #2186b8;
	outline: 1px dotted #dfdfdf;
}
*/
input[type="checkbox"], input[type="radio"] {
	margin-top: 12px !important;
	margin-right: 6px !important;
	margin-left: 3px !important;
}

.newAddr {
	display:none;
	clear:both;
	margin-top:40px;
	margin-bottom:30px;
	padding-left:30px;
	padding-right:30px;
	padding-top:20px;
}


.select-field {
    vertical-align:middle;
}

#tradingAddr {
    display:none;
	clear:both;
}

.hruler {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 10px;
    margin-bottom: 15px;
}

hr.style-two {
	width:50%;
	text-align:center;
    float: center;
	margin:0 auto;
    margin-bottom: 25px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.containerDOB {
    width:100%;
    margin-right: 10px;
}

.columnDOB {
    width:33.33333333% !important;
    float:left;
    padding-left: 10px;
    font-size: 50%;
}

@media (min-width: 47.9285714286em) {
.columnDOB {
    padding-right: 10px;
    font-size: 100%;
}
}

.floating {
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 47.9285714286em) {
.floating {
    width: 40%;
}
}

.validation-response {
    color: red;
}

#noscript {
    color: red;
    font-size: 30px;
}

#tappr_footer {
/*  background-color: #c7c7c7;*/
    color: #7e7c7c;
    width: 100%;
    padding-top: 10px;
    height: 70px;
    text-align: center;
	margin: 0 auto;
}

/*input:focus:required:invalid {
  background: rgba(255, 0, 0, 0.15);
    border: 3px solid #f00;
    opacity: 0.5;
}
input:not(:focus) {
}*/