@charset "UTF-8";
@font-face {
	font-family: 'sofia_prolight';
	src: url('SofiaProLight-webfont.eot');
	src: url('SofiaProLight-webfont.eot?#iefix') format('embedded-opentype'),  url('SofiaProLight-webfont.woff2') format('woff2'),  url('SofiaProLight-webfont.woff') format('woff'),  url('SofiaProLight-webfont.ttf') format('truetype'),  url('SofiaProLight-webfont.svg#sofia_prolight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Square Market";
	src: url(/assets/sqmarket/sqmarket-thin-92d37a029a8039484ca858872059193b.eot);
	src: url(/assets/sqmarket/sqmarket-thin.eot?#iefix) format('embedded-opentype'), url(/assets/sqmarket/sqmarket-thin-82afb3eb4b7d82dee2baf705e7245db1.woff) format('woff'), url(/assets/sqmarket/sqmarket-thin-c7647a2496b8013f5f8b503366ae62ec.ttf) format('truetype');
	font-weight: 100
}
@font-face {
	font-family: "Square Market";
	src: url(/assets/sqmarket/sqmarket-thin-italic-3e39f19ade3da034b1872f90b7ded541.eot);
	src: url(/assets/sqmarket/sqmarket-thin-italic.eot?#iefix) format('embedded-opentype'), url(/assets/sqmarket/sqmarket-thin-italic-c44eb66b1f5144de4c91d24dbad4d9d1.woff) format('woff'), url(/assets/sqmarket/sqmarket-thin-italic-09230c3b1d522b5057a50b09b0190f40.ttf) format('truetype');
	font-weight: 100;
	font-style: italic
}
@font-face {
	font-family: "Square Market";
	src: url(/assets/sqmarket/sqmarket-light-b279aa118141810ab703043d852c4937.eot);
	src: url(/assets/sqmarket/sqmarket-light.eot?#iefix) format('embedded-opentype'), url(/assets/sqmarket/sqmarket-light-4c85d721c3cfb736f9b6801ac4c88938.woff) format('woff'), url(/assets/sqmarket/sqmarket-light-a792ddf1be8b6e987ff9aa15cfe69b8e.ttf) format('truetype');
	font-weight: 300
}
@font-face {
	font-family: "Square Market";
	src: url(/assets/sqmarket/sqmarket-light-italic-c343f1cca3b473b030fdc7fcc3ad2277.eot);
	src: url(/assets/sqmarket/sqmarket-light-italic.eot?#iefix) format('embedded-opentype'), url(/assets/sqmarket/sqmarket-light-italic-11e4085cf1274d8cc23fd7e9fdc524a9.woff) format('woff'), url(/assets/sqmarket/sqmarket-light-italic-0c87c1c46eee9b244f0fbec1f2d73065.ttf) format('truetype');
	font-weight: 300;
	font-style: italic
}
@font-face {
	font-family: "Square Market";
	src: url(/assets/sqmarket/sqmarket-regular-082d8937a2c0391e4b18690f7a27fd1e.eot);
	src: url(/assets/sqmarket/sqmarket-regular.eot?#iefix) format('embedded-opentype'), url(/assets/sqmarket/sqmarket-regular-284383a5ec4f3a6dcc4bddf2181b1038.woff) format('woff'), url(/assets/sqmarket/sqmarket-regular-f948272beb5094e1fc97ed329f5d8a0b.ttf) format('truetype');
	font-weight: 400
}
@font-face {
	font-family: "Square Market";
	src: url(/assets/sqmarket/sqmarket-regular-italic-5973190156e4c2900857415bb75bc106.eot);
	src: url(/assets/sqmarket/sqmarket-regular-italic.eot?#iefix) format('embedded-opentype'), url(/assets/sqmarket/sqmarket-regular-italic-c3aade97f5340482b172b9a39900eedb.woff) format('woff'), url(/assets/sqmarket/sqmarket-regular-italic-1707951894de3588bdde78ef5474fe2e.ttf) format('truetype');
	font-weight: 400;
	font-style: italic
}
@font-face {
	font-family: "Square Market";
	src: url(/assets/sqmarket/sqmarket-medium-ff5d4e822abb807098e66809cddcab02.eot);
	src: url(/assets/sqmarket/sqmarket-medium.eot?#iefix) format('embedded-opentype'), url(/assets/sqmarket/sqmarket-medium-e96bd63ea7cab72522e66f9402985ce8.woff) format('woff'), url(/assets/sqmarket/sqmarket-medium-f57de76f7b1fb34bbb2805c0ac4e575c.ttf) format('truetype');
	font-weight: 500
}
@font-face {
	font-family: "Square Market";
	src: url(/assets/sqmarket/sqmarket-medium-italic-baf9e04b9f3361064c8a1f5b50a887f6.eot);
	src: url(/assets/sqmarket/sqmarket-medium-italic.eot?#iefix) format('embedded-opentype'), url(/assets/sqmarket/sqmarket-medium-italic-97257c54132312512628be39f3f4f07c.woff) format('woff'), url(/assets/sqmarket/sqmarket-medium-italic-6468a2a9086cd1f72407cc3da430efbc.ttf) format('truetype');
	font-weight: 500;
	font-style: italic
}
@font-face {
	font-family: "Square Market";
	src: url(/assets/sqmarket/sqmarket-bold-60978c01d6ef469a3763b824c61a0c28.eot);
	src: url(/assets/sqmarket/sqmarket-bold.eot?#iefix) format('embedded-opentype'), url(/assets/sqmarket/sqmarket-bold-fb21e9986e03173ab02612b1303626d5.woff) format('woff'), url(/assets/sqmarket/sqmarket-bold-a0894c1e19052599b8938f8a38686ed9.ttf) format('truetype');
	font-weight: 700
}
@font-face {
	font-family: "Square Market";
	src: url(/assets/sqmarket/sqmarket-bold-italic-f3cd8ab0e810dcf59124a910d629d54f.eot);
	src: url(/assets/sqmarket/sqmarket-bold-italic.eot?#iefix) format('embedded-opentype'), url(/assets/sqmarket/sqmarket-bold-italic-0429402e4508e291adb554beb38fa79c.woff) format('woff'), url(/assets/sqmarket/sqmarket-bold-italic-97edbfd09e6c76d1271cf8f794880cc5.ttf) format('truetype');
	font-weight: 700;
	font-style: italic
}