@charset "UTF-8";
/* setting the width and height of the SELECT element to match the replacing graphics */
/*select.customized-select{
    position:relative;
    z-index:10;
    width:100% !important;
    height:26px !important;
}

 dynamically created SPAN, placed below the SELECT 
.customized-select span.select{
    position:absolute;
    bottom:0;
    float:left;
    left:0;
    width:166px;
    height:26px;
    line-height:26px;
    text-indent:10px;
    background:url(pics/check_radio_sheet.png) no-repeat 0 0;
    cursor:default;
    z-index:1;
	}*/

/* Container used for styling the custom select, the buttom class below adds the bg gradient, corners, etc. */
.custom-select {
      position: relative;
      display:block;
      margin-top:0.5em;
    width: 100%;
	margin: 0;
	background: none;
	outline: none;
	/* Prefixed box-sizing rules necessary for older browsers */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/* Remove select styling */
	appearance: none;
	-webkit-appearance: none;
	padding: .6em .5em .em .8em;
}
/* Container used for styling the custom select, the buttom class below adds the bg gradient, corners, etc. */
.custom-selectqty {
      position: relative;
      display:block;
      margin-top:0.5em;
    width: 100%;
	margin: 0;
	background: none;
	outline: none;
	/* Prefixed box-sizing rules necessary for older browsers */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/* Remove select styling */
	appearance: none;
	-webkit-appearance: none;
	padding: .6em .5em .em .8em;
}
    
    /* These are the "theme" styles for our button applied via separate button class, style as you like */
.buttonSel {
      border-radius: 10px;
	  border: 1px solid transparent;
      background: #fff;
}
	
/* Custom arrow sits on top of the select - could be an image, SVG, icon font, etc. or the arrow could just baked into the bg image on the select. Note this si a 2x image so it will look bad in browsers that don't support background-size. In production, you'd handle this resolution switch via media query but this is a demo. */
    

.custom-select::after {
	content: "";
	position: absolute;
	width: 15px;
	height: 8px;
	top: 45%;
	right: 1em;
	background-image: url(../pics/arrow-20.png);
	background-repeat: no-repeat;
	background-size: 100%;
	z-index: 2;
	/* These hacks make the select behind the arrow clickable in some browsers */
	pointer-events: none;
}
	
.custom-selectqty::after  {
    top: 57%;
    content: "";
	position: absolute;
	width: 15px;
	height: 8px;
	right: 1.3em;
	background-image: url(../pics/arrow-20.png);
	background-repeat: no-repeat;
	background-size: 100%;
	z-index: 2;
	/* These hacks make the select behind the arrow clickable in some browsers */
	pointer-events: none;
}

	/* FIREFOX won't let us hide the native select arrow, so we have to make it wider than needed and clip it via overflow on the parent container. The percentage width is a fallback since FF 4+ supports calc() so we can just add a fixed amount of extra width to push the native arrow out of view. We're applying this hack across all FF versions because all the previous hacks were too fragile and complex. You might want to consider not using this hack and using the native select arrow in FF. Note this makes the menus wider than the select button because they display at the specified width and aren't clipped. Targeting hack via http://browserhacks.com/#hack-758bff81c5c32351b02e10480b5ed48e */
    /* Show only the native arrow */
@-moz-document url-prefix() {
.custom-select {
 overflow: hidden;
}
.custom-select select {
 width: 120%;
 width: -moz-calc(100% + 3em);
 width: calc(100% + em);
}
}
    
    /* Firefox focus has odd artifacts around the text, this kills that. See https://developer.mozilla.org/en-US/docs/Web/CSS/:-moz-focusring */
.custom-select select:-moz-focusring {
 color: transparent;
 text-shadow: 0 0 0 #000;
}


select[disabled='disabled'] {
	background: url(drop.png) no-repeat right, transparent;
	color: #bbbfc1;
}


.select-unselected {
	color: #bbbfc1;
}

select[type="quantity"] {
	display: block;
	width: 50%;
	height: 40px;
	min-height: 40px;
	padding: 0 9px;
	margin: 0;
	line-height: 22px;
	font-size: 14px;
	border: 1px solid #dfdfdf;
	border-radius: 10px;
	outline: none;
	background: #fff;
	color: #5f6a7d;
}

select.country-selector {
	background-position-x: 5px;
	background-position-y: 10px;
	background-size: 30px 20px;
    background-repeat: no-repeat;
	background-color: #fff;
	padding: 10px 40px 8px;
}
.country-CA select.country-selector {
	background-image: url(../flags/ca.svg);
}
.country-JP select.country-selector {
	background-image: url(../flags/jp.svg);
}
.country-AU select.country-selector {
	background-image: url(../flags/australian-flag.svg);
}

input[type="text"], input[type="password"], input[type="email"], input[type="search"], input[type="url"], input[type="tel"], input[type="number"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="range"], input[type="color"], select, textarea {
	display: block;
	width: 100%;
	height: 40px;
	min-height: 40px;
	padding: 0 9px;
	margin: 0;
	line-height: 22px;
    letter-spacing: 1px;
	font-size: 14px;
	border: 1px solid #dfdfdf;
	border-radius: 10px;
	outline: none;
	background: #fff;
	color: #5f6a7d
}