<!doctype html>
<html>
<head>
  <title>Simple Invoicing - Built with AngularJS</title>
  <meta name="description" content="AngularJS and Angular Code Example for creating Invoices and Invoicing Application">
  <script src="http://code.jquery.com/jquery-1.7.1.js" type="text/javascript"></script>
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.3/angular.min.js"></script>
  
  <style>
  input, textarea{
  border: 1px solid #FFF;
}

.container input:hover, .container textarea:hover, 
.table-striped > tbody > tr:nth-child(2n+1) > td input:hover,
.container input:focus, .container textarea:focus, 
.table-striped > tbody > tr:nth-child(2n+1) > td input:focus{
  border: 1px solid #CCC;
}

.table-striped > tbody > tr:nth-child(2n+1) > td input{
    background-color: #F9F9F9;
    border: 1px solid #F9F9F9;
}



@media print {
    .noPrint {
        display:none;
    }
}

body{
  padding:20px;
}

.infos input{
  width: 300px;
}

.align-right input{
  text-align:right;
  width: 300px;
}

div.container{
  width: 800px;
}

#imgInp{
  display: none;
}

.copy {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  width: 100%;
  margin: 40px 0 20px 0;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #404040;
  cursor: default;
  line-height: 1.4em;
}

.copy .love {
  display: inline-block;
  position: relative;
  color: #ce0c15;
}

  
  </style>
</head>


<body ng:app="jqanis" ng:controller="InvoiceController" >
  <div id="css">
    <link rel="stylesheet" type="text/css" href="file:///Macintosh HD/Users/bretthales/Desktop/Test Test/css/style.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
  </div>
<div class="container" width="800px" id="invoice" >
 
  <table class="table">
    <tr>
      <td align="center" style="background-color:#357EBD;color:#FFF" colspan="2">
        INVOICE
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td align="right">

      </td>
    </tr>
  </table>
  <table class="table">
    <tr>
      <td>
        <select id="quantity" name="quantity" ng:model="item.qty" ng:required>
						
														
															
															<option ng:model="item.qty" value="1">1</option>
															<option ng:model="item.qty" value="2">2</option>
														</select>
														<select ng-model="myColor" ng-options="color.name for color in colors"></select><br>
      </td>
      <td align="right">
        <div class="align-right">
          <div><strong><input type="text" ng-model="invoice.company_info.name"/></strong></div>
          <div><input type="text" ng-model="invoice.company_info.web_link"/></div>
          <div><input type="text" ng-model="invoice.company_info.address1"/></div>
          <div><input type="text" ng-model="invoice.company_info.address2"/></div>
          <div><input type="text" ng-model="invoice.company_info.postal"/></div>
        </div>
      </td>
    </tr>
  </table>
  <table class="table table-striped" align="center" >
      <tr>
          <th></th>
          <th>Description</th>
          <th>Qty</th>
          <th>Cost</th>
          <th style="text-align:right;">Total</th>
          
      </tr>
      <tr ng:repeat="item in invoice.items" style="display: none" jq:animate="dropdown;250">
          <td><a href ng-hide="printMode" ng-click="removeItem(item)" class="btn btn-danger">[X]</a></td>
          <td><input ng:model="item.description" placeholder="Description"></td>
          <td><input ng:model="item.qty" value="1" size="4" ng:required ng:validate="integer" placeholder="qty"></td>
          <td><input ng:model="item.cost" value="2" ng:required ng:validate="number" size="6" placeholder="cost"></td>
          <td align="right">{{item.cost * item.qty | currency}}</td>
          
      </tr>
      <tr ng-hide="printMode">
          <td colspan="5"><a class="btn btn-primary" href ng:click="addItem()" >Add Item</a></td>
      </tr>
      <tr>
          <td colspan="4" align="right">
            Sub Total
          </td>
          <td align="right">
            {{invoice_sub_total() | currency}}
          </td>
      </tr>
      <tr>
          <td colspan="4" align="right">

          </td>
          <td align="right">
            {{calculate_tax() | currency}}
          </td>
      </tr>
      <tr>
          <td colspan="4" align="right">
            Grand Total:
          </td>
          <td align="right">
            {{calculate_grand_total() | currency}}
          </td>
      </tr>
  </table>
  <div class="noPrint">
    <a href="#" class="btn btn-primary" ng-show="printMode" ng-click="printInfo()">Print</a>
    <a href="#" class="btn btn-primary" ng-click="clearLocalStorage()">Reset</a>
    <a href="#" class="btn btn-primary" ng-hide="printMode" ng-click="printMode = true;">Turn On Print Mode</a>
    <a href="#" class="btn btn-primary" ng-show="printMode" ng-click="printMode = false;">Turn Off Print Mode</a>
  </div>
</div>

<div ng-hide="printMode" class="copy noPrint">
  <a href="http://jasdeep.ca/?utm_source=angular_invoicing">Jasdeep Singh</a> & 
  <a href="http://github.com/manpreetrules">Manpreet Singh</a>
  Made with 
  <span class="love">&#9829;</span> in Toronto by 
  <a href="http://metawarelabs.com/?utm_source=angular_invoicing">Metaware Labs Inc.</a>
</div>
<script>
angular.module('selectExample', [])
    .controller('ExampleController', ['$scope', function($scope) {
      $scope.colors = [
        {name:'black', shade:'dark'},
        {name:'white', shade:'light'},
        {name:'red', shade:'dark'},
        {name:'blue', shade:'dark'},
        {name:'yellow', shade:'light'}
      ];
      $scope.myColor = $scope.colors[2]; // red
    }]);
function InvoiceController($scope) {

  $scope.logoRemoved = false;
  $scope.printMode = false;

  var sample_invoice = {
            tax: 10.00, 
            invoice_number: 10,
            customer_info:  {name: "Mr. John Doe", web_link: "John Doe Designs Inc.", address1: "1 Infinite Loop", address2: "Cupertino, California, US", postal: "90210"},
            company_info:  {name: "Metaware Labs", web_link: "www.metawarelabs.com", address1: "123 Yonge Street", address2: "Toronto, ON, Canada", postal: "M5S 1B6"},
              items:[ {qty:10, description:'Gadget', cost:9.95}]};

  if(localStorage["invoice"] == "" || localStorage["invoice"] == null){
    $scope.invoice = sample_invoice;
  }
  else{
    $scope.invoice =  JSON.parse(localStorage["invoice"]);
  }
    $scope.addItem = function() {
        $scope.invoice.items.push({qty:0, cost:0, description:""});    
    }
    
    $scope.removeItem = function(item) {
        $scope.invoice.items.splice($scope.invoice.items.indexOf(item), 1);    
    }
    
    $scope.invoice_sub_total = function() {
        var total = 0.00;
        angular.forEach($scope.invoice.items, function(item, key){
          total += (item.qty * item.cost);
        });
        return total;
    }
    $scope.calculate_tax = function() {
        return (($scope.invoice.tax * $scope.invoice_sub_total())/100);
    }
    $scope.calculate_grand_total = function() {
        localStorage["invoice"] = JSON.stringify($scope.invoice);
        return $scope.calculate_tax() + $scope.invoice_sub_total();
    } 

    $scope.printInfo = function() {
      window.print();
    }

    $scope.clearLocalStorage = function(){
      var confirmClear = confirm("Are you sure you would like to clear the invoice?");
      if(confirmClear){
        localStorage["invoice"] = "";
        $scope.invoice = sample_invoice;
      }
    }


};

angular.module('jqanim', []).directive('jqAnimate', function(){ 
  return function(scope, instanceElement){ 
      setTimeout(function() {instanceElement.show('slow');}, 0); 
  } 
});

function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#company_logo').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
    }
}

// window.onbeforeunload = function(e) {
//   confirm('Are you sure you would like to close this tab? All your data will be lost');
// };

$(document).ready(function(){
  $("#invoice_number").focus();
  $("#imgInp").change(function(){
    readURL(this);
  });
});</script>
<link href="file:///Macintosh HD/Users/bretthales/Desktop/Test Test/custom1.css" type="text/css">
</body>

</html>
