<!DOCTYPE html>
<html ng-app>
<head>
<title>Angular GPA Calculator</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
<script src="testang.js"></script>

<style type="text/css">
body {
margin: 0px 0px 0px 0px;
background-color: #CCC;
font-family: verdana, arial, sans-serif;
font-size: 0.9em;
}

h1 {
font-size: 20px;
}

td {
font-size: 13px;
}
th {
font-size: 14px;
}
td, th {
padding-right: 20px;
text-align: left;
}

#content {
background-color: #F3F3F3;
border: 1px solid #86A791;
margin: 25px;
padding: 15px;
}

.result {
font-weight: bold;
font-size: 18px;
}
</style>

</head>
<body>
<div ng-controller="GpaController" id="content">

<h1>Angular.js GPA Calculator Demo</h1>

<table>
<tr>
<th>Class</th>
<th>Units</th>
<th>Grade</th>
</tr>
<tr ng-repeat="course in schedule">
<td>{{course.course_number}}</td>
<td>{{course.units}}</td>
<td>
<!-- In this cell we EITHER show a dropdown for a graded class
OR an uneditable display of the grading option. Note ng-options
for converting gradeopts array into dropdown. We only show the
picklist if the grading option is "Letter grade" (skip pass/no pass classes).
When a new grade is selected, trigger recalculation of the whole set.
See http://docs.angularjs.org/api/ng.directive:select
-->
<select
ng-show="course.grade_option=='Letter'"
ng-model="course.estimated_grade"
ng-change="gpaUpdateCourse(course, course.estimated_grade)"
ng-options="g.weight as g.grade for g in gradeopts">
</select>
<!-- For non-letter-grade classes, just display the grading type -->
<span ng-show="course.grade_option!='Letter'">{{course.grade_option}}</span>
</td>
</tr>
</table>

<p>Select your expected grade for each course to estimate your GPA for this semester.</p>

<!--
Use Angular's "number" directive to restrict GPA display to decimals
|| 'N/A' catches the outside case where the student has no letter grade classes
and therefore no estimated_gpa.
-->
<p class="result">Estimated sub: {{(invoice_sub_total() | currency}}</p>
<p class="result">Estimated tax: {{(calculate_tax() | currency}}</p>
<p class="result">Estimated GPA: {{(calculate_grand_total() | currency}}</p>
<p>
</p>

<!-- In case student has no classes at all... -->
<p ng-show="!schedule.length">
To calculate your GPA, you must be enrolled in one or more classes for the selected semester.
</p>

</div>

</body>
</html>